@import 'modules/variables';
//@import '../fonts/Lato/lato.css';
@import '../fonts/FontAwesome/font-awesome.min.css';
@import 'skeleton/skeleton';
@import 'sprites/sprite';
//@import 'sprites/sprite';

//@import 'modules/mainpage';
@import 'modules/common';


a{
  color: $gold;
  outline: none;
  &:focus{
    outline: none;
  }
}
p {
  font-size: 14px;
  color: #3C3E3F;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 15px;
  margin-top: 0;
}

*{
  box-sizing: border-box;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.f-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header{
  background: transparent url('../img/bghead.png') left top;
}
.topline{
  background-color: #3f434e;
  color: #fff;
  a{
    color: #fff;
  }
  .f-row{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
  }
  .logo{
    align-self: flex-start;
  }
  &__search{
    display: none;
    position: relative;
    @media($bp-larger-than-desktop){
      max-width: 200px;  
      display: block;
    }
  }
  .search-mobile{
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    @media($bp-larger-than-desktop){
      display: none;
    }
    &:before{
      display: inline-block;
      height: 30px;
      width: 30px;
      content: "\f002";
      font-family: FontAwesome;
      font-size: 20px;
      text-align: center;
      line-height: 28px;
    }
  }
  &__contacts{
    text-transform: uppercase;
    flex: 1;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    font-family: 'PFDinTextPro-light', sans-serif;
    a{
      text-decoration: none;
    }
    > *{
      padding-top: 4px;
    }
  }
}

ul.comercmenu{
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-bottom: 0;
  align-items: flex-start;
  padding-top: 6px;
  height: 106px;
  li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    flex: 0 1 auto;
    a { 
      font-family: 'PFDinTextPro-light'; 
      font-size: 12px; 
      text-decoration: none;
      text-transform: uppercase; 
      color: #38302e; 
      display: inline-block;
      padding: 65px 0 0;
      position: relative;
      line-height: 110%;
      transition: $anim;
      @media($bp-larger-than-desktop){
        font-size: 14px; 
      }
      &:before{
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15px;
      }
      &.tm10{
        &:before{
          @include sprite($zamer);
        }
        &:hover{
          &:before{
            @include sprite($zamerh);
          }
        }
      }
      &.tm20{
        &:before{
          @include sprite($zvonok);
        }
        &:hover{
          &:before{
            @include sprite($zvonokh);
          }
        }
      }
      &.tm30{
        &:before{
          @include sprite($calc);
        }
        &:hover{
          &:before{
            @include sprite($calch);
          }
        }
      }
      &.tm40{
        &:before{
          @include sprite($vopros);
        }
        &:hover{
          &:before{
            @include sprite($voprosh);
          }
        }
      }
      &.tm50{
        &:before{
          @include sprite($skidki);
        }
        &:hover{
          &:before{
            @include sprite($skidkih);
          }
        }
      }
      &.tm60{
        &:before{
          @include sprite($price);
        }
        &:hover{
          &:before{
            @include sprite($priceh);
          }
        }
      }
      
    }
  } 
} 
.hov:hover{ color: #7bab0d;}

.topmenu{
  background: #fff;
  //margin-bottom: 6px;
  border-top: 1px solid #3f434e;
  border-bottom: 1px solid #3f434e;

  ul{
    height: 51px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
      line-height: 1;
      margin: 0;
      font-family: 'PFDinTextPro-light', sans-serif;
      font-size: 14px;
      color: #3f434e;
      text-transform: uppercase;
      padding-top: 5px;
      @media($bp-larger-than-desktop){
        font-size: 17px;
      }
    }
    a{
      line-height: 1;
      text-decoration: none;
      color: #3f434e;
      transition: $anim;
      &:hover{
        color: #7bab0d;  
      }
    }
    span{
      line-height: 1;
      color: #7bab0d;
      transition: $anim;
    }
    ul{
      display: none;
    }
  }
}

.bxslider_glav{
  margin: 0;
  padding: 0;
  list-style-type: none;
  a{
    text-decoration: none;
  }
  li{
    margin-bottom: 0;
  }
  .slide__info{
    width: 300px;
    margin-left: 60px;
    height: 100%;
  }
  .slide_name{
    background:#4CAB0D;
    margin: 0;
    padding: 20px 10px 10px 10px;
    color:#FFF;
    text-transform:uppercase;
    font-family: 'DINCondensedC', sans-serif;
    font-size: 60px;
    line-height:50px;
    text-align: center;
    span{
      font-family: 'pfdintextpro-light', sans-serif;
      font-size:25px;
      display:block;
      line-height: 110%;
    }
  }
  .slide_text{
    background:url('/assets/template/img/slider/slides/bc_sl.png') left top repeat;
    margin: 0;
    height: 100%;
    padding: 15px 30px 10px 30px;
    p{color:#FFF;
      text-align:center;
      margin: 0 0 25px 0;
      font-family: 'PFDinTextPro', sans-serif;
      font-size: 22px;
      line-height: 110%;
      span{
        font-family:'pfdintextpro-medium', sans-serif;
        display:block;
      }
    }
  }
  .slide_salle{
    background: #3F434E;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 93px;
    height: 93px;
    font-family: 'DINCondensedC', sans-serif;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    line-height: 93px;
    padding-top: 1px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}
.first_slide{background:url(/assets/template/img/slider/slides/1.jpg)left top no-repeat;
  height:440px;
  color:#FFF;
}

.second_slide{background:url(/assets/template/img/slider/slides/2.jpg)left top no-repeat;
  height:440px;
  color:#FFF;}

/*
.second_slide .slide_text p{margin:25px 15px 0 20px;
  font-family:pfdintextpro-regular;
  font-size:20px;}
*/
.third_slide{background:url(/assets/template/img/slider/slides/3.jpg)left top no-repeat;
  height:440px;
  color:#FFF;}

.fourth_slide{background:url(/assets/template/img/slider/slides/4.jpg)left top no-repeat;
  height:440px;
  color:#FFF;}

.fifth_slide{background:url(/assets/template/img/slider/slides/5.jpg)left top no-repeat;
  height:440px;
  color:#FFF;}
.zero_slide{
  background:url(/assets/template/img/slider/lamps/banner-bg.jpg)center top no-repeat;
  height:440px;
  color:#FFF;
  position:relative;
}
.zero_slide .text-slide{
  max-width: 675px;
  padding: 30px 15px 15px 15px;
  margin: 0 auto;
}
.link-more{
  border: 3px solid #333;
  border-radius: 3px;
  color: #333;
  float: right;
  font-family: "Ubuntu",sans-serif;
  font-size: 14px;
  font-style: italic;
  padding: 8px 25px;
  text-decoration: none;
}
.link-more:hover{
  background:url(/assets/template/img/slider/lamps/light.png)center center no-repeat;
  box-shadow: 2px 0 31px 8px #fff;
}
.zero_slide .text-slide p{
  font-size:20px !important;
  font-family: "Ubuntu",sans-serif;
  text-transform:uppercase;
  margin-bottom: 0px;
  margin-left: 120px;
}
.zero_slide .text-slide img{
  float: left;
  margin-top: 25px;
}
.zero_slide .text-slide p span.big{
  font-size:30px !important;
}
.zero_slide .lamp.l_1{background:url(/assets/template/img/slider/lamps/1.png) -30px top no-repeat;

}
.zero_slide .lamp.l_2{background:url(/assets/template/img/slider/lamps/2.png)-30px top no-repeat;
  left:250px;
}
.zero_slide .lamp.l_3{background:url(/assets/template/img/slider/lamps/3.png) -30px top no-repeat;
  left:500px
}
.zero_slide .lamp.l_4{background:url(/assets/template/img/slider/lamps/4.png) -30px top no-repeat;
  left:750px
}
.zero_slide .lamp.l_1:hover{background:url(/assets/template/img/slider/lamps/1.png)-267px top no-repeat;}
.zero_slide .lamp.l_2:hover{background:url(/assets/template/img/slider/lamps/2.png)-272px top no-repeat;}
.zero_slide .lamp.l_3:hover{background:url(/assets/template/img/slider/lamps/3.png)-265px top no-repeat;}
.zero_slide .lamp.l_4:hover{background:url(/assets/template/img/slider/lamps/4.png)-272px top no-repeat;}



.zero_slide .lamp{
  position:absolute;
  width:230px;
  height:336px;
  bottom:-100px;
}
