@import 'modules/variables';
//@import '../fonts/Lato/lato.css';
@import '../fonts/FontAwesome/font-awesome.min.css';
@import 'skeleton/skeleton';
@import 'sprites/sprite';
//@import 'sprites/sprite';

//@import 'modules/mainpage';
@import 'modules/common';


a{
  color: #3c3e3f;
  outline: none;
  &:focus{
    outline: none;
  }
}
p {
  font-size: 14px;
  color: #3C3E3F;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 0;
}

*{
  box-sizing: border-box;
}
body{
  background: transparent url('../img/bgcont.png') left top;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.f-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header{
  &__body{
    background: transparent url('../img/bghead.png') left top;
    width: 100%;
  }
  &__burger{
    margin-left: auto;
    position: absolute;
    padding: 15px 12px;
    background-color: #7cab0d;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: fixed;
    z-index: 100;
    @media($bp-larger-than-tablet){
      position: relative;
      background-color: transparent;
      padding: 0px;
      top: auto;
      left: auto;
      display: none;
    }

    .burger{
      display: block;
      width: 30px;
      height: 24px;
      position: relative;
      padding: 8px;
      //background-color: $gold;
      @media($bp-larger-than-tablet){
        position: relative;
      }
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: "\f0c9";
        font-size: 34px;
        line-height: 24px;
        font-family: FontAwesome;
        color: #fff;
      }
    }
  }
}
body .slideTop {
  transform: translateY(-100%);
}
body.fixed-header .slideTop {
  transform: translateY(0%);
  position: fixed;
  top: 0;
  transition: all 0.5s ease 0s;
  z-index: 200;
}
body{
  &.search{
    .topline__search{
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #3f434e;
      display: block;
    }
    .topline__contacts{
      display: none;
    }
  }
}

.topline{
  background-color: #3f434e;
  color: #fff;
  padding-bottom: 15px;
  @media($bp-larger-than-tablet){
    padding-bottom: 0;
  }
  a{
    color: #fff;
  }
  .f-row{
    display: flex;
    align-items: center;
    //flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      justify-content: space-between;
      height: 50px;
      flex-wrap: nowrap;
    }
  }
  .logo{
    //display: none;
    flex-shrink: 0;
    @media($bp-larger-than-tablet){
      align-self: flex-start;
      display: block;
    }
    img{
      max-width: 100%;
    }
    a{
      display: inline-block;
      position: relative;
      z-index: 3;
    }
  }
  &__search{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    @media($bp-larger-than-tablet){
      margin-top: 0;
      display: none;
    }
    @media($bp-larger-than-desktop){

      max-width: 200px;  
      display: block;
      width: auto;
    }

  }
  .logo-mobile{
    display: none;
    @media($bp-larger-than-tablet){
      display: none;
    }
  }
  .search-mobile{
    display: none;
    height: 30px;
    width: 30px;
    position: relative;
    @media($bp-larger-than-tablet){
      display: block;
    }
    @media($bp-larger-than-desktop){
      display: none;
    }
    &:before{
      display: inline-block;
      height: 30px;
      width: 30px;
      content: "\f002";
      font-family: FontAwesome;
      font-size: 20px;
      text-align: center;
      line-height: 28px;
    }
  }
  &__contacts{
    text-transform: uppercase;
    flex: 1;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: 'PFDinTextPro-light', sans-serif;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      justify-content: space-around;
    }
    a{
      text-decoration: none;
    }
    > *{
      padding-top: 4px;
    }
  }
}

ul.comercmenu{
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: flex-start;
  padding-top: 6px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @media($bp-larger-than-tablet){
    height: 106px;
    flex-wrap: nowrap;
    margin-left: 150px;
    margin-bottom: 0;
  }
  li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 33%;
    @media($bp-larger-than-tablet){
      flex: 0 1 auto;
      width: auto;
    }
    a { 
      font-family: 'PFDinTextPro-light'; 
      font-size: 12px; 
      text-decoration: none;
      text-transform: uppercase; 
      color: #38302e; 
      display: inline-block;
      padding: 65px 0 0;
      position: relative;
      line-height: 110%;
      transition: $anim;
      margin-top: 5px;
      margin-bottom: 5px;
      @media($bp-larger-than-desktop){
        font-size: 14px; 
      }
      &:before{
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15px;
      }
      &.tm10{
        &:before{
          @include sprite($zamer);
        }
        &:hover{
          &:before{
            @include sprite($zamerh);
          }
        }
      }
      &.tm20{
        &:before{
          @include sprite($zvonok);
        }
        &:hover{
          &:before{
            @include sprite($zvonokh);
          }
        }
      }
      &.tm30{
        &:before{
          @include sprite($calc);
        }
        &:hover{
          &:before{
            @include sprite($calch);
          }
        }
      }
      &.tm40{
        &:before{
          @include sprite($vopros);
        }
        &:hover{
          &:before{
            @include sprite($voprosh);
          }
        }
      }
      &.tm50{
        &:before{
          @include sprite($skidki);
        }
        &:hover{
          &:before{
            @include sprite($skidkih);
          }
        }
      }
      &.tm60{
        &:before{
          @include sprite($price);
        }
        &:hover{
          &:before{
            @include sprite($priceh);
          }
        }
      }
      
    }
  } 
} 
.hov:hover{ color: #7bab0d;}

.topmenu{
  background: #fff;
  //margin-bottom: 6px;
  border-top: 1px solid #3f434e;
  border-bottom: 1px solid #3f434e;
  display: none;
  @media($bp-larger-than-tablet){
    display: block;
  }
  ul{
    height: 51px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
      line-height: 1;
      margin: 0;
      font-family: 'PFDinTextPro-light', sans-serif;
      font-size: 14px;
      color: #3f434e;
      text-transform: uppercase;
      padding-top: 5px;
      position: relative;
      z-index: 100;
      @media($bp-larger-than-desktop){
        font-size: 17px;
      }
      &:hover{
        > ul{
          display: block;
        }
      }
    }
    a{
      line-height: 1;
      text-decoration: none;
      color: #3f434e;
      transition: $anim;
      &:hover{
        color: #7bab0d;  
      }
    }
    span{
      line-height: 1;
      color: #7bab0d;
      transition: $anim;
    }
    ul{
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      height: auto;
      padding-top: 20px;
      li{
        display: block;
        float: none;
        text-transform: none;
        margin: 0;
        padding: 7px 15px 5px;
        font-size: 16px;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px inset #e0e0e0;
        position: relative;
        a{
          font-size: 17px;
          line-height: 1.2;
          vertical-align: bottom;
        }
      }
      ul{
        top: 0;
        left: 100%;
        padding-top: 0;
      }
    }
  }
}

.slider-main{
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 440px;
  @media($bp-larger-than-tablet){
    display: block;
  }
  .container{
    padding-left: 0;
    padding-right: 0;
  }
  a{
    text-decoration: none;
  }
  li{
    margin-bottom: 0;
  }
  .slide__info{
    width: 100%;
    height: 440px;
    background:url('/assets/template/img/slider/slides/bc_sl.png') left top repeat;
    @media($bp-larger-than-mobile){
      width: 300px;
      margin-left: 60px;
    }
  }
  .slide_name{
    background:#4CAB0D;
    margin: 0;
    padding: 20px 10px 10px 10px;
    color:#FFF;
    text-transform:uppercase;
    font-family: 'DINCondensedC', sans-serif;
    font-size: 60px;
    line-height:50px;
    text-align: center;
    span{
      font-family: 'pfdintextpro-light', sans-serif;
      font-size:25px;
      display:block;
      line-height: 110%;
    }
  }
  .slide_text{
    margin: 0;
    padding: 15px 30px 10px 30px;
    p{color:#FFF;
      text-align:center;
      margin: 0 0 25px 0;
      font-family: 'PFDinTextPro', sans-serif;
      font-size: 22px;
      line-height: 110%;
      span{
        font-family:'pfdintextpro-medium', sans-serif;
        display:block;
      }
    }
  }
  .slide_salle{
    background: #3F434E;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 93px;
    height: 93px;
    font-family: 'DINCondensedC', sans-serif;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    line-height: 93px;
    padding-top: 1px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .slick-prev{
    left: 20px;
    height: 32px;
    width: 32px;
    z-index: 100;
    &:before{
      background: url('../img/controls.png') no-repeat 0 -32px;
      content: "";
      height: 32px;
      width: 32px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .slick-next{
    right: 20px;
    height: 32px;
    width: 32px;
    z-index: 100;
    &:before{
      background: url('../img/controls.png') no-repeat -43px -32px;
      content: "";
      height: 32px;
      width: 32px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .slick-dotted.slick-slider{
    margin-bottom: 0;
  }
  .slick-dots{
    text-align: right;
    bottom: 15px;
    padding-right: 20px;
    li{
      width: 16px;
      button::before{
        font-size: 12px;
      }
      &.slick-active{
        button::before{

        }
      }
    }
  }
}


.first_slide{background:url(/assets/template/img/slider/slides/1.jpg) center top no-repeat;
  height:440px;
  color:#FFF;
  background-size: cover;
}

.second_slide{background:url(/assets/template/img/slider/slides/2.jpg) center top no-repeat;
  height:440px;
  color:#FFF;
  background-size: cover;
}

.third_slide{background:url(/assets/template/img/slider/slides/3.jpg) center top no-repeat;
  height:440px;
  color:#FFF;
  background-size: cover;
}

.fourth_slide{background:url(/assets/template/img/slider/slides/4.jpg) center top no-repeat;
  height:440px;
  color:#FFF;
  background-size: cover;
}

.fifth_slide{background:url(/assets/template/img/slider/slides/5.jpg) center top no-repeat;
  height:440px;
  color:#FFF;
  background-size: cover;
}
.zero_slide{
  background:url(/assets/template/img/slider/lamps/banner-bg.jpg) center top no-repeat;
  height:440px;
  color:#FFF;
  position:relative;
  overflow: hidden;
  background-size: cover;
  img{
    margin-bottom: 12px;
  }
  p{
    text-align: left;
    @media($bp-larger-than-tablet){
      text-align: justify;
    }
  }
}

.link-more{
  border: 3px solid #333;
  border-radius: 3px;
  color: #333;
  float: right;
  font-family: "Ubuntu",sans-serif;
  font-size: 14px;
  font-style: italic;
  padding: 8px 25px;
  text-decoration: none;
}
.link-more:hover{
  background:url(/assets/template/img/slider/lamps/light.png)center center no-repeat;
  box-shadow: 2px 0 31px 8px #fff;
}
.zero_slide{
  overflow: hidden;
  .lamp{
    width:230px;
    height:336px;
    bottom:-100px;
  }
  .text-slide{
    max-width: 675px;
    padding: 30px 15px 15px 15px;
    margin: 0 auto;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
    p{
      font-size:20px !important;
      font-family: "Ubuntu",sans-serif;
      text-transform:uppercase;
      margin-bottom: 0px;
      @media($bp-larger-than-tablet) {
        margin-left: 120px;
      }
      span.big{
        //font-size: 30px;
        @media($bp-larger-than-tablet) {
          font-size: 30px;
        }
      }
    }
    img{
      @media($bp-larger-than-tablet) {
        margin-top: 25px;
        float: left;
      }
    }
  }
  .lamp.l_1{
    background:url(/assets/template/img/slider/lamps/1.png) -30px top no-repeat;
    &:hover{
      background:url(/assets/template/img/slider/lamps/1.png)-267px top no-repeat;
    }
  }
  .lamp.l_2{
    background:url(/assets/template/img/slider/lamps/2.png)-30px top no-repeat;
    &:hover{
      background:url(/assets/template/img/slider/lamps/2.png)-272px top no-repeat;
    }
  }
  .lamp.l_3{
    background:url(/assets/template/img/slider/lamps/3.png) -30px top no-repeat;
    &:hover{
      background:url(/assets/template/img/slider/lamps/3.png)-265px top no-repeat;
    }
  }
  .lamp.l_4{
    background:url(/assets/template/img/slider/lamps/4.png) -30px top no-repeat;
    &:hover{
      background:url(/assets/template/img/slider/lamps/4.png)-272px top no-repeat;
    }
  }
}

.slider__lamps{
  display: none;
  margin-top: 30px;
  @media($bp-larger-than-phablet){
    display: flex;
    justify-content: space-around;
  }
  a{
    &:nth-child(4){
      display: none;
      @media($bp-larger-than-desktop){
        display: block;
      }
    }
    &:nth-child(3){
      display: none;
      @media($bp-larger-than-tablet){
        display: block;
      }
    }
    &:nth-child(2){
      display: none;
      @media($bp-larger-than-phablet){
        display: block;
      }
    }
  }
}


.main-sections{
  //padding: 20px 0;
  //background-color: #fff;
  position: relative;

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 10px;
    flex-wrap: wrap;
    @media($bp-larger-than-tablet){
      flex-wrap: nowrap;
    }
    &:before{
      content: "";
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #071f4c;
      box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
      display: none;
      @media($bp-larger-than-tablet){
        display: block;
      }
    }
    &:after{
      content: "";
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #071f4c;
      box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
      display: none;
      @media($bp-larger-than-tablet){
        display: block;
      }
    }
  }
  li {
    margin: 0;
    padding: 3px;
    flex: 1;
    text-align: center;
    line-height: 120%;
    @media($bp-larger-than-tablet){
      padding: 10px 20px 10px 20px;
    }
  }
  a {
    font-family: 'PFDinTextPro', sans-serif;
    font-size: 11pt;
    text-decoration:  none;
    color: #38302e;
    padding: 95px 5px 5px 5px;
    position: relative;
    line-height: 100%;
    display: inline-block;
    &:before{
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
    }
    &.bt1{
      &:before{
        @include sprite($bt1);
      }
      &:hover{
        &:before{
          @include sprite($bt1h);
        }
      }
    }
    &.bt2{
      &:before{
        @include sprite($bt2);
      }
      &:hover{
        &:before{
          @include sprite($bt2h);
        }
      }
    }
    &.bt3{
      &:before{
        @include sprite($bt3);
      }
      &:hover{
        &:before{
          @include sprite($bt3h);
        }
      }
    }
    &.bt4{
      &:before{
        @include sprite($bt4);
      }
      &:hover{
        &:before{
          @include sprite($bt4h);
        }
      }
    }
    &.bt5{
      &:before{
        @include sprite($bt5);
      }
      &:hover{
        &:before{
          @include sprite($bt5h);
        }
      }
    }

  }

  .hov:hover{ color: #7bab0d;}
}

.main-links {
  float: left;
  height: 230px;
  text-align: center;
  margin-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  @media($bp-larger-than-phablet){
    width: 50%;
  }
  @media($bp-larger-than-tablet){
    width: 25%;
  }
  &__card{
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    &:hover{
      .main-links__image:after{
        opacity: 0.5;
      }
    }
  }
  &__image{
    position: relative;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0;
        background-color: #fff;
        transition: all 0.3s;
    }
  }
  .list-name {
    font-family: "PFDinTextPro";
    font-size: 11pt;
    text-decoration: none;
    text-transform: uppercase;
    color: #3F434E;
  }
  .front-ot{
    padding-top: 0px;
    color: #7CAB0D;
    font-weight: bold;
  }
  &__more{
    text-align: right;
    margin: 10px 0;
    a{
      color: #3f434e;
      &:hover{
        text-decoration: none;
      }
    }
  }
  img{
    width: 100%;
  }
}
.link-main {
  margin-top: -20px;
  font-style: italic;
  font-size: 17px;
  text-align: center;
  margin-bottom: 30px;
  @media($bp-larger-than-phablet){
    float: right;
    margin-top: -50px;
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0px;
  }
  a{
    color: #3c3e3f;
  }
}

.main-media{
  padding: 20px 0;
  &__list{
    margin-left: -15px;
    margin-right: -15px;
  }
  &__video{
    padding: 0 15px;
    @media($bp-larger-than-tablet){
      width: 50%;
    }
  }
  &__articles{
    padding: 0 15px;
    @media($bp-larger-than-tablet){
      width: 50%;
    }
  }
  h2{
    padding-left: 0;
    line-height: 120%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
    &:after{
      display: none;
    }
  }
}
.header-bordered{
  position: relative;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1;
  @media($bp-larger-than-phablet){
    font-size: 32px;
  }
  a{
    color: #3f434e;
    text-decoration: none;
  }
  &:before{
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #071f4c;
    box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
    display: none;
  }
  &:after{
    content: "";
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    //right: 0;
    width: 70px;
    border-top: 1px solid #071f4c;
    //box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  }
}

.news-line{
  padding: 15px 0;
  &__item{
    margin-bottom: 15px;
  }
  &__caption{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 6px;
    a{
      color: #3c3e3f;
      text-decoration: none;
    }
  }
  &__text{
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__more{
    a{
      color: #3c3e3f;
      font-style: italic;
    }
  }
}

.news-list{
  padding: 20px 0;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  article{
    //float: left;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
    //display: flex;
    //flex-direction: column;
    @media($bp-larger-than-tablet){
      width: 50%;
    }
  }
  &__date{
    font-family: "PFDinTextPro-light", sans-serif;
  }
  &__caption{
    //font-family: "PFDinTextPro", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 6px;
    text-decoration: none;
    font-weight: bold;
    a{
      color: #3c3e3f;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__more{
    margin-top: auto;
    a{
      color: #3c3e3f;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__text{
    margin-bottom: 4px;
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

div.news-line
{
  word-wrap: break-word;
}
div.news-line a i
{
  color: #3c3e3f;
  font-style: italic;
}

.news-line-item {
  margin: 	3px 1px 10px 1px;

}
.news-line-item img {
  border: 	none;
  padding: 	0px 10px 5px 0px
}
.news-line-item a {
  color: #3c3e3f;
  text-decoration: none;
  font-family: "PFDinTextPro";
}

div.news-line-list img.preview_picture-line
{
  float:left;
  margin:0 4px 6px 0;
}
.news-line-date-time {
  color:#486DAA;
}

.footer{
  background-color: #3f434e;
  padding: 40px 0 10px;
  color: #fff;
  font-family: "PFDinTextPro-light", sans-serif;
  a{
    color: #fff;
    text-decoration: none;
  }
  &__top{
    display: flex;
    margin-bottom: 20px;
    img{
      margin-right: 20px;
    }
  }
  &__address{
    margin-bottom: 10px;
    font-size: 14px;
  }
  &__copyright{
    font-size: 14px;
  }
  &__left{
    width: 100%;
    margin-bottom: 12px;
    @media($bp-larger-than-tablet){
      width: 50%;
    }
  }
  &__right{
    width: 100%;
    @media($bp-larger-than-tablet){
      width: 50%;
    }
    .yamaps{
      @media($bp-larger-than-tablet){
        float: right;
      }
    }
  }
  &__sitemap{
    clear: both;
    text-align: right;
    a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.left-menu{

  a{
    color: #3c3e3f;
    text-decoration: none;
    display: block;
    padding: 10px 2px 10px 12px;
    position: relative;
    font-size: 16px;
    line-height: 120%;
    &:hover{
      color: $green;
    }
    &:before{
      display: inline-block;
      font-family: FontAwesome;
      content: "\f105";
      position: absolute;
      left: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  li{
    margin: 0;
    border-bottom: 1px solid #3c3e3f;
    padding: 0;
    list-style-type: none;
  }
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
.middle{
  flex: 1 0 auto;
  .f-row{
    display: flex;
    flex-grow: 9999;
    flex-direction: column;
    @media($bp-larger-than-tablet){
      flex-direction: row;
    }
  }
  .content{
    order: 1;
    padding: 8px 0 30px 0;
    flex-shrink:1;
    max-width:100%;
    min-width: 0;
    width: 100%;
    @media($bp-larger-than-tablet){
      order: 2;
    }
    img{
      max-width: 100%;
    }
    h2{
      padding-left: 0;
      margin-bottom: 24px;
    }
    h3{
      padding-left: 0;
      margin-bottom: 24px;
    }

  }
  .sidebar{
    order: 2;
    width: 210px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    @media($bp-larger-than-mobile){
      margin-left: 0;
      margin-right: 30px;
    }
    @media($bp-larger-than-tablet){
      order: 1;
    }
  }
}
.header1{
  padding: 0;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  @media($bp-larger-than-mobile){
    text-align: left;
    margin-bottom: 30px;
  }

}

.arrow {
  margin: 65px 18px 0px 0px;
}

.catalog{
  &__item{
    background: #fff;
    border: 1px solid #d6d4d3;
    margin-bottom: 30px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    @media($bp-larger-than-phablet){
      flex-direction: column;
    }
    @media($bp-larger-than-tablet){
      flex-direction: row;
    }
  }
  &__image{
    width: 100%;
    margin-right: 20px;
    line-height: 1;
    @media($bp-larger-than-mobile){
      width: 233px;
      flex-shrink: 0;
    }
    img{
      width: 100%;
    }
  }
  &__body{
    display: flex;
    flex-direction: column;
  }
  &__header{
    margin-bottom: 20px;
    @media($bp-larger-than-phablet){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__price{
    background: #7bab0d;
    color: #fff;
    padding: 5px 3px;
    position: relative;
    line-height: 100%;
    display: inline-block;
  }
  &__name{
    //font-family: 'PFDinTextPro', sans-serif;
    font-size: 11pt;
    text-decoration: none;
    text-transform: uppercase;
    color: #3f434e;
    line-height: 100%;
    font-weight: 500;
    display: block;
    margin-bottom: 6px;
  }
  &__text{
    line-height: 120%;
    color: #3C3E3F;
    font-size: 11pt;
  }
  &__more{
    margin-top: auto;
    margin-left: auto;
    a{
      color: #3f434e;
      font-size: 11pt;
      padding-left: 30px;
      position: relative;
      margin-top: 15px;
      display: inline-block;
      &:before{
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0px;
        background: transparent url('../img/man.png') left top no-repeat;
        content: "";
        width: 23px;
        height: 25px;
      }
    }
  }
}
.catalog-page{
  .middle{
    .f-row{
      flex-direction: column;
      @media($bp-larger-than-desktop){
        flex-direction: row;
      }
      .content{
        order: 1;
        @media($bp-larger-than-desktop){
          order: 2;
        }
      }
      .sidebar{
        order: 2;
        @media($bp-larger-than-desktop){
          order: 1;
        }
      }

    }
  }
}
.white-bg{
  border: 1px solid #D7D5D4;
  background-color: #fff;
  padding: 15px 15px;
  margin-bottom: 10px;
  *:last-child{
    margin-bottom: 0;
  }
  ul{
    list-style-type: disc;
    margin-left: 20px;
    li{
      margin-bottom: 0;
    }
  }
  + .stext{
    margin-top: 30px;
  }
}
.stext{
  ul{
    list-style-position: outside;
    margin-left: 30px;
    li{
      list-style-type: none;
      position: relative;
      margin-bottom: 7px;
      &::after {
        background-color: $green;
        content: "";
        height: 5px;
        left: -21px;
        position: absolute;
        top: 9px;
        width: 5px;
      }
      &::before {
        border: 1px solid $green;
        content: "";
        height: 3px;
        left: -19px;
        position: absolute;
        top: 11px;
        width: 3px;
      }
    }
  }
  ol{
    list-style-position: outside;
    margin-left: 30px;
  }
}
.catalog-tile{
  &__item{
    width: 100%;
    @media($bp-larger-than-phablet){
      width: 50%;
    }
    @media($bp-larger-than-tablet){
      width: 33.3%;
    }
    @media($bp-larger-than-desktop){
      width: 25%;
    }
  }
  &__card{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    &:hover{
      .catalog-tile__image:after{
        opacity: 0.5;
      }
    }
  }
  a{
    text-decoration: none;
  }
  &__image{
    width: 225px;
    height: 225px;
    line-height: 225px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0;
      background-color: #fff;
    }
    img{
      width: 100%;
    }
  }
  &__name{
    font-family: "PFDinTextPro-light", sans-serif;
    font-size: 13pt;
    margin: 0;
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: 300;
    color: #333333;
    text-align: center;
    line-height: 130%;
  }
}

.photo{
  &__list{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    padding: 0 5px;
    width: 100%;
    @media($bp-larger-than-phablet){
      width: 50%;
    }
    @media($bp-larger-than-tablet){
      width: 33.33%;
    }
    @media($bp-larger-than-desktop){
      width: 25%;
    }
  }
  &__card{
    display: block;
    max-width: 250px;
    padding: 5px 4px;
    border: 1px solid #333;
    text-align: center;
    //height: 200px;
    margin: 5px auto;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod?EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    text-decoration: none;
    &:hover{
      .photo__image:after{
        opacity: 0.5;
      }
    }
  }
  &__image{
    width: 100%;
    height: 145px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 6px;
    position: relative;
    background-size: cover;
    background-position: center;
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0;
      background-color: #fff;
      transition: $anim;
    }
  }
  &__name{
    line-height: 120%;
    color: #333333;
    font-size: 15px;
  }
}

.photo-detail{
  &__list{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    padding: 0 5px;
    width: 100%;
    @media($bp-larger-than-phablet){
      width: 50%;
    }
    @media($bp-larger-than-tablet){
      width: 33.33%;
    }
    @media($bp-larger-than-desktop){
      width: 25%;
    }
  }
  &__card{
    display: block;
    max-width: 250px;
    padding: 5px 4px;
    border: 1px solid #333;
    text-align: center;
    //height: 200px;
    margin: 5px auto;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod?EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    text-decoration: none;
    &:hover{
      .photo-detail__image:after{
        opacity: 0.5;
      }
      .photo-detail__image:before{
        opacity: 0.75;
      }
    }
  }
  &__image{
    width: 100%;
    height: 145px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background-size: cover;
    background-position: center;
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0;
      background-color: #fff;
      transition: $anim;
    }
    &:before{
      background: url("../img/overlay_zoom.png") no-repeat 50% 50%;
      width: 48px;
      height: 48px;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: block;
      opacity: 0;
      z-index: 100;
      transition: $anim;
    }
  }
}
.news-bottom{
  margin-bottom: 30px;
}

.print_btn {
  text-align: center;
  padding: 5px 15px;
  background-color: #7CAB0D;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  transition: $anim;
  &:hover{
    color: #fff;
    opacity: 0.75;
  }
}
.oblost {
  display: inline-block;

  margin: 10px 5px;
  a{
    width: 235px;
    vertical-align: top;
    padding: 10px;
    background: #7BAB0D;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    &:hover{
      color: inherit;
    }
  }
}


.contacts{
  &__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__box{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  &__left{
    @media($bp-larger-than-tablet) {
      width: 50%;
      padding: 0 10px;
    }
  }
  &__right{
    @media($bp-larger-than-tablet) {
      width: 50%;
      padding: 0 10px;
    }
  }
  &__block{
    ul{
      list-style-type: none;
      margin-left: 30px;
    }
    li{
      margin-bottom: 0;
    }
    &--phones{
      a{
        text-decoration: none;
      }
      .contacts__header{
        &:before{
          position: absolute;
          display: inline-block;
          width: 24px;
          height: 24px;
          content: "\f095";
          font-family: FontAwesome;
          left: 6px;
          top: -2px;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
    &--worktime{
      .contacts__header{
        &:before{
          position: absolute;
          display: inline-block;
          width: 24px;
          height: 24px;
          content: "\f017";
          font-family: FontAwesome;
          left: 5px;
          top: -2px;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
    &--email{
      .contacts__header{
        &:before{
          position: absolute;
          display: inline-block;
          width: 24px;
          height: 24px;
          content: "\f003";
          font-family: FontAwesome;
          left: 5px;
          top: -1px;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
    &--address{
      .contacts__header{
        &:before{
          position: absolute;
          display: inline-block;
          width: 24px;
          height: 24px;
          content: "\f041";
          font-family: FontAwesome;
          left: 7px;
          top: -1px;
          font-size: 16px;
        }
      }
    }
  }
  &__header{
    font-weight: bold;
    padding-left: 30px;
    position: relative;
  }
  &__print{
    margin:20px 0 20px 0;
    &:after{
      display: table;
      content: "";
      clear: both;
    }
  }
}

.office{
  &__card{
    display: flex;
  }
  &__image{
    flex-shrink: 0;
    margin-right: 10px;
  }
  &__name{
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 120%;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &__item{
    width: 50%;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.table-adaptive{
  width: 100%;
  overflow-x: auto;
  margin-bottom: 15px;
}
.work{
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__item{
    width: 100%;
    max-width: 275px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    @media($bp-larger-than-phablet){
      margin-left: 0;
      margin-right: 0;
      width: 50%;
    }
    @media($bp-larger-than-tablet){
      width: 33.33%;
    }
    @media($bp-larger-than-desktop){
      width: 25%;
    }
  }
}

.ceiling-slider{
  margin-bottom: 15px;
  img{
    width: 100%;
  }
  .slick-prev{
    left: 20px;
    height: 32px;
    width: 32px;
    z-index: 100;
    &:before{
      background: url('../img/controls.png') no-repeat 0 -32px;
      content: "";
      height: 32px;
      width: 32px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .slick-next{
    right: 20px;
    height: 32px;
    width: 32px;
    z-index: 100;
    &:before{
      background: url('../img/controls.png') no-repeat -43px -32px;
      content: "";
      height: 32px;
      width: 32px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__caption{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background: rgba(80, 80, 80, 0.75);
    position: relative;
    text-align: center;
    @media($bp-larger-than-mobile){
      position: absolute;
      text-align: left;
    }
  }
  .slick-slide > div > div{
    position: relative;
  }
}
.middle .content{

}

.work-ceiling{
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }
  &__item{
    width: 100%;
    padding: 0 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    @media($bp-larger-than-phablet){
      margin-left: 0;
      margin-right: 0;
      width: 50%;
    }
    @media($bp-larger-than-tablet){
      //width: 50%;
      width: 33.33%;
    }
    @media($bp-larger-than-desktop){
      width: 33.33%;
    }
  }
}

.sidebar{
  &__menu{
    margin-top: 24px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    background: #3f434e;
    color: #fff;
    ul{
      margin: 0;
    }
    li{
      border: 0;
      &.active{
        a{
          background-color: $green;
          color: #fff;
        }
      }
    }
    li+li a{
      border-top: 1px solid #aaa;
    }
    a{
      color: #fff;
      font-size: 15px;
      padding: 12px 4px 12px 24px;
      transition: all 0.2s;
      &:before{
        left: 8px;
      }
      &:hover{
        background-color: $green;
        color: #fff;
      }
    }
    &:before{
      background: #3f434e;
      content: " ";
      display: inline-block;
      height: 100%;
      position: absolute;
      right: 100%;
      top: 0;
      width: 2000px;
      z-index: 0;
    }
  }
}

.main-sections {
  position: relative;
  background: #3f434e;
  color: #eee;
  padding: 30px 0;
  margin-bottom: 30px;
  a{
    color: #eee;
    font-family: 'Open Sans', sans-serif;
  }
  ul{
    &:after{
      display: none;
    }
    &:before{
      display: none;
    }
  }
}

.slider-main .container > .slide__info{
  margin-left: 0;
}
.product{
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__item{
    width: 100%;
    padding: 10px;
    @media($bp-larger-than-phablet){
      width: 50%;
    }
    @media($bp-larger-than-tablet){
      width: 50%;
    }
    @media($bp-larger-than-desktop){
      width: 33.33%;
    }
  }
  &__card{
    text-align: center;
    max-width: 375px;
  }
  &__name{
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__image{
    background-color: #f8f8f8;

    a{
      background-color: rgba(0,0,0,0.1);
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      &:hover{
        &:after{
          opacity: 0.5;
        }
        &:before{
          opacity: 0.75;
        }
      }
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0;
        background-color: #fff;
        transition: all 0.3s;
      }
      &:before{
        background: url("../img/overlay_zoom.png") no-repeat 50% 50%;
        width: 48px;
        height: 48px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        opacity: 0;
        z-index: 100;
        transition: $anim;
      }
    }

  }
  &__price-box{
    font-size: 15px;
  }
  &__price{
    font-weight: bold;
  }
}
.ceiling__actions{
  text-align: center;
  @media($bp-larger-than-tablet){
    display: flex;
    justify-content: space-between;
  }
}
.ceiling__button{
  display: inline-block;
  padding: 10px 20px 10px 44px;
  background-color: $green;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: $anim;
  position: relative;
  font-size: 16px;
  margin-top: 20px;
  @media($bp-larger-than-tablet){
    font-size: 18px;
  }
  &:hover{
    opacity: 0.75;
    color: #fff;
  }
  &--calc{
    &:before{
      font-family: FontAwesome;
      content: "\f1ec";
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &--zamer{
    &:before{
      font-family: FontAwesome;
      content: "\f095";
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.colors{
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-around;
    @media($bp-larger-than-tablet){
      justify-content: space-between;
    }
  }
  &__item{
    width: 245px;
    padding: 10px;
  }
  &__card{
    text-align: center;
    max-width: 375px;
  }
  &__name{
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__image{
    background-color: #f8f8f8;
    height: 210px;
    margin-bottom: 4px;

    a{
      background-color: #fff;
      border-bottom: 3px solid rgba(0,0,0,0.1);
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      &:hover{
        &:after{
          opacity: 0.5;
        }
        &:before{
          opacity: 0.75;
        }
      }
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0;
        background-color: #fff;
        transition: all 0.3s;
      }
      &:before{
        background: url("../img/overlay_zoom.png") no-repeat 50% 50%;
        width: 48px;
        height: 48px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        opacity: 0;
        z-index: 100;
        transition: $anim;
      }
    }

  }
  &__price-box{
    font-size: 15px;
  }
  &__price{
    font-weight: bold;
  }
}
.pagination{
  margin: 0 !important;
  text-align: center;
  li{
    display: inline-block;
    color: #fff;
    margin: 0 2px;
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
    &.active{
      a{
        background-color: $green;
      }
    }
    a{
      color: #fff;
      text-decoration: none;
      padding: 2px 8px 4px;
      display: inline-block;
      background-color: #3f434e;
      &:hover{
        background-color: $green;
      }
    }
    span{
      color: #fff;
      text-decoration: none;
      padding: 2px 8px;
      display: inline-block;
      background-color: #3f434e;
    }
  }
}

.colors-catalog{
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-around;
    @media($bp-larger-than-tablet){
      justify-content: flex-start;
    }
  }
  &__item{
    width: 245px;
    padding: 10px;
  }
  &__card{
    text-align: center;
    max-width: 225px;
  }
  &__name{
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__image{
    background-color: #f8f8f8;
    height: 320px;
    margin-bottom: 4px;
    a{
      background-color: #fff;
      border-bottom: 3px solid rgba(0,0,0,0.1);
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      &:hover{
        &:after{
          opacity: 0.5;
        }
      }
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0;
        background-color: #fff;
        transition: all 0.3s;
      }
    }

  }
}


.useful{
  &__item{
    margin-bottom: 25px;
  }
  &__name{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 6px;
    a{
      color: $green;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__anons{
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__more{
    a{
      color: #3c3e3f;
      font-style: italic;
    }
  }
}
.comeback{
  //font-size: 16px;
}

.sertificaty{
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-around;
    @media($bp-larger-than-tablet){
      justify-content: flex-start;
    }
  }
  &__item{
    width: 245px;
    padding: 10px;
  }
  &__card{
    text-align: center;
    max-width: 225px;
  }
  &__name{
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__image{
    background-color: #f8f8f8;
    height: 340px;
    margin-bottom: 4px;
    a{
      background-color: #fff;
      border-bottom: 3px solid rgba(0,0,0,0.1);
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      &:hover{
        &:after{
          opacity: 0.5;
        }
        &:before{
          opacity: 0.75;
        }
      }
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0;
        background-color: #fff;
        transition: all 0.3s;
      }
      &:before{
        background: url("../img/overlay_zoom.png") no-repeat 50% 50%;
        width: 48px;
        height: 48px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        opacity: 0;
        z-index: 100;
        transition: $anim;
      }
    }

  }
}


.sertificaty-catalog{
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-around;
    @media($bp-larger-than-tablet){
      justify-content: flex-start;
    }
  }
  &__item{
    width: 245px;
    padding: 10px;
  }
  &__card{
    text-align: center;
    max-width: 225px;
  }
  &__name{
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__image{
    background-color: #f8f8f8;
    height: 340px;
    margin-bottom: 4px;
    a{
      background-color: #fff;
      border-bottom: 3px solid rgba(0,0,0,0.1);
      justify-content: center;
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      &:hover{
        &:after{
          opacity: 0.5;
        }
      }
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        opacity: 0;
        background-color: #fff;
        transition: all 0.3s;
      }
    }

  }
}


.news{
  &__item{
    margin-bottom: 25px;
  }
  &__name{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 6px;
    a{
      color: $green;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__anons{
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__more{
    a{
      color: #3c3e3f;
      font-style: italic;
    }
  }
}

.news-page{
  &__header{
    @media($bp-larger-than-tablet){
      display: flex;
      justify-content: space-between;
    };
  }
  &__date{
    font-weight: bold;
    margin-top: 15px;
    line-height: 40px;
    font-size: 18px;
  }
}

.contacts-page{
  &__header{
    @media($bp-larger-than-tablet){
      display: flex;
      justify-content: space-between;
    };
  }
}

.puncher_box {
  background: #FFF;
  padding: 8px;
}
.puncher {
  display: inline-block;
  vertical-align: top;
  max-width: 185px;
  margin: 8px 2px 10px 5px;
  @media($bp-larger-than-tablet){
    width: calc((100% / 2) - 11px);
  }
  @media($bp-larger-than-desktop){
    width: calc((100% / 4) - 11px);
  }
}

.forma-box{
  width: 100%;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  @media($bp-larger-than-tablet){
    flex: 1 0 320px;
    margin-right: 40px;
    margin-left: 0;
  }
  .xbtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#resultdiv span {
  color: green !important;
  font-size: 18px;
  //position: absolute;
 // top: 35px;
  //left: 377px;
  width: 350px;
  font-weight: bold;
}

.calculator{
  &__table{
    td{
      border: 0 none;
      padding: 6px 15px;
    }
    .zam{
      margin-top: 10px;
    }
    input[type="text"]{
      border: 1px solid #ccc;
      padding: 4px 4px;
      width: 54px;
      background-color: #fff;
      text-align: center;
      &:focus{
        box-shadow: 0 0 3px -1px $green;
      }
    }
  }
}

.video{
  &__list{
    margin-bottom: 30px;
  }
}

.detail-price-inner{
  margin-bottom: 20px;
}

.instruction{
  &__list{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    padding: 0 5px;
    width: 100%;
    /*@media($bp-larger-than-phablet){
      width: 50%;
    }*/
    @media($bp-larger-than-tablet){
      width: 50%;
    }

  }
  &__card{
    display: block;
    padding: 5px 4px;
    text-align: center;
    //height: 200px;
    margin: 5px auto;
    text-decoration: none;
    &:hover{
      .instruction__image:after{
        opacity: 0.5;
      }
    }
  }
  &__image{
    width: 100%;
    position: relative;
    display: block;
    line-height: 1;
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0;
      background-color: #fff;
      transition: $anim;
    }
  }
  &__name{
    font-weight: 400;
    line-height: 120%;
  }
}