<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__left column">
                <div class="footer__top">
                    <a href="/"><img src="/assets/template/img/logo_footer.jpg"></a>
                    <div class="footer__phones">
                        <a href="tel:+74993981019">+7 (499)-398-10-19</a><br>
                        <a href="tel:+79295967274">+7 (929)-596-72-74</a><br>
                        Пн-Вс с 9.00-21.00
                    </div>
                </div>
                <div class="footer__address">
                    г. Москва, Зеленоградский АО, ул. Заводская д.1-Б, 3 этаж, пав. 3
                </div>
                <div class="footer__copyright">
                    © 2017 «ДИАНИКС» - натяжные потолки в Зеленограде
                </div>

            </div>
            <div class="footer__right column">
                <div class="yamaps">
                    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=xR2SPzvYNyjzZx4Z2Ati8xWykLIdIGmf&width=300&height=138"></script>
                </div>
                <div class="footer__sitemap">
                    <a class="sitemapf" href="/sitemap/">Карта сайта</a>
                </div>
            </div>
        </div>
    </div>
</footer>

    <!-- @if NODE_ENV='development' -->
    <script src="assets/template/vendor/jquery-3.2.1.min.js"></script>
    <script src="assets/template/vendor/slick/slick.js"></script>
    <script src="assets/template/vendor/owlcarousel/owl.carousel.js"></script>
    <script src="assets/template/vendor/magnific-popup/magnific-popup.js"></script>
    <!--script src="assets/template/vendor/wow.min.js"></script>
    <script>
        new WOW({
            live: true
        }).init();
    </script-->
    <script src="assets/template/js/scripts.js"></script>

    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <script src="assets/template/js/vendor.js"></script>
    <script src="assets/template/js/scripts.js"></script>
    <!-- @endif -->
</body>
</html>
