// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bt1-name: 'bt1';
$bt1-x: 132px;
$bt1-y: 0px;
$bt1-offset-x: -132px;
$bt1-offset-y: 0px;
$bt1-width: 65px;
$bt1-height: 67px;
$bt1-total-width: 305px;
$bt1-total-height: 289px;
$bt1-image: '/assets/template/css/sprites/sprite.png';
$bt1: (132px, 0px, -132px, 0px, 65px, 67px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt1', );
$bt1h-name: 'bt1h';
$bt1h-x: 0px;
$bt1h-y: 68px;
$bt1h-offset-x: 0px;
$bt1h-offset-y: -68px;
$bt1h-width: 65px;
$bt1h-height: 67px;
$bt1h-total-width: 305px;
$bt1h-total-height: 289px;
$bt1h-image: '/assets/template/css/sprites/sprite.png';
$bt1h: (0px, 68px, 0px, -68px, 65px, 67px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt1h', );
$bt2-name: 'bt2';
$bt2-x: 197px;
$bt2-y: 0px;
$bt2-offset-x: -197px;
$bt2-offset-y: 0px;
$bt2-width: 64px;
$bt2-height: 66px;
$bt2-total-width: 305px;
$bt2-total-height: 289px;
$bt2-image: '/assets/template/css/sprites/sprite.png';
$bt2: (197px, 0px, -197px, 0px, 64px, 66px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt2', );
$bt2h-name: 'bt2h';
$bt2h-x: 65px;
$bt2h-y: 68px;
$bt2h-offset-x: -65px;
$bt2h-offset-y: -68px;
$bt2h-width: 64px;
$bt2h-height: 66px;
$bt2h-total-width: 305px;
$bt2h-total-height: 289px;
$bt2h-image: '/assets/template/css/sprites/sprite.png';
$bt2h: (65px, 68px, -65px, -68px, 64px, 66px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt2h', );
$bt3-name: 'bt3';
$bt3-x: 66px;
$bt3-y: 0px;
$bt3-offset-x: -66px;
$bt3-offset-y: 0px;
$bt3-width: 66px;
$bt3-height: 68px;
$bt3-total-width: 305px;
$bt3-total-height: 289px;
$bt3-image: '/assets/template/css/sprites/sprite.png';
$bt3: (66px, 0px, -66px, 0px, 66px, 68px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt3', );
$bt3h-name: 'bt3h';
$bt3h-x: 0px;
$bt3h-y: 0px;
$bt3h-offset-x: 0px;
$bt3h-offset-y: 0px;
$bt3h-width: 66px;
$bt3h-height: 68px;
$bt3h-total-width: 305px;
$bt3h-total-height: 289px;
$bt3h-image: '/assets/template/css/sprites/sprite.png';
$bt3h: (0px, 0px, 0px, 0px, 66px, 68px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt3h', );
$bt4-name: 'bt4';
$bt4-x: 129px;
$bt4-y: 68px;
$bt4-offset-x: -129px;
$bt4-offset-y: -68px;
$bt4-width: 64px;
$bt4-height: 66px;
$bt4-total-width: 305px;
$bt4-total-height: 289px;
$bt4-image: '/assets/template/css/sprites/sprite.png';
$bt4: (129px, 68px, -129px, -68px, 64px, 66px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt4', );
$bt4h-name: 'bt4h';
$bt4h-x: 192px;
$bt4h-y: 135px;
$bt4h-offset-x: -192px;
$bt4h-offset-y: -135px;
$bt4h-width: 64px;
$bt4h-height: 66px;
$bt4h-total-width: 305px;
$bt4h-total-height: 289px;
$bt4h-image: '/assets/template/css/sprites/sprite.png';
$bt4h: (192px, 135px, -192px, -135px, 64px, 66px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt4h', );
$bt5-1-name: 'bt5-1';
$bt5-1-x: 197px;
$bt5-1-y: 66px;
$bt5-1-offset-x: -197px;
$bt5-1-offset-y: -66px;
$bt5-1-width: 64px;
$bt5-1-height: 66px;
$bt5-1-total-width: 305px;
$bt5-1-total-height: 289px;
$bt5-1-image: '/assets/template/css/sprites/sprite.png';
$bt5-1: (197px, 66px, -197px, -66px, 64px, 66px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt5-1', );
$bt5-name: 'bt5';
$bt5-x: 0px;
$bt5-y: 135px;
$bt5-offset-x: 0px;
$bt5-offset-y: -135px;
$bt5-width: 64px;
$bt5-height: 66px;
$bt5-total-width: 305px;
$bt5-total-height: 289px;
$bt5-image: '/assets/template/css/sprites/sprite.png';
$bt5: (0px, 135px, 0px, -135px, 64px, 66px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt5', );
$bt5h-1-name: 'bt5h-1';
$bt5h-1-x: 64px;
$bt5h-1-y: 135px;
$bt5h-1-offset-x: -64px;
$bt5h-1-offset-y: -135px;
$bt5h-1-width: 64px;
$bt5h-1-height: 66px;
$bt5h-1-total-width: 305px;
$bt5h-1-total-height: 289px;
$bt5h-1-image: '/assets/template/css/sprites/sprite.png';
$bt5h-1: (64px, 135px, -64px, -135px, 64px, 66px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt5h-1', );
$bt5h-name: 'bt5h';
$bt5h-x: 128px;
$bt5h-y: 135px;
$bt5h-offset-x: -128px;
$bt5h-offset-y: -135px;
$bt5h-width: 64px;
$bt5h-height: 66px;
$bt5h-total-width: 305px;
$bt5h-total-height: 289px;
$bt5h-image: '/assets/template/css/sprites/sprite.png';
$bt5h: (128px, 135px, -128px, -135px, 64px, 66px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'bt5h', );
$calc-name: 'calc';
$calc-x: 44px;
$calc-y: 245px;
$calc-offset-x: -44px;
$calc-offset-y: -245px;
$calc-width: 44px;
$calc-height: 44px;
$calc-total-width: 305px;
$calc-total-height: 289px;
$calc-image: '/assets/template/css/sprites/sprite.png';
$calc: (44px, 245px, -44px, -245px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'calc', );
$calch-name: 'calch';
$calch-x: 44px;
$calch-y: 201px;
$calch-offset-x: -44px;
$calch-offset-y: -201px;
$calch-width: 44px;
$calch-height: 44px;
$calch-total-width: 305px;
$calch-total-height: 289px;
$calch-image: '/assets/template/css/sprites/sprite.png';
$calch: (44px, 201px, -44px, -201px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'calch', );
$price-name: 'price';
$price-x: 88px;
$price-y: 201px;
$price-offset-x: -88px;
$price-offset-y: -201px;
$price-width: 44px;
$price-height: 44px;
$price-total-width: 305px;
$price-total-height: 289px;
$price-image: '/assets/template/css/sprites/sprite.png';
$price: (88px, 201px, -88px, -201px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'price', );
$priceh-name: 'priceh';
$priceh-x: 132px;
$priceh-y: 201px;
$priceh-offset-x: -132px;
$priceh-offset-y: -201px;
$priceh-width: 44px;
$priceh-height: 44px;
$priceh-total-width: 305px;
$priceh-total-height: 289px;
$priceh-image: '/assets/template/css/sprites/sprite.png';
$priceh: (132px, 201px, -132px, -201px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'priceh', );
$skidki-name: 'skidki';
$skidki-x: 176px;
$skidki-y: 201px;
$skidki-offset-x: -176px;
$skidki-offset-y: -201px;
$skidki-width: 44px;
$skidki-height: 44px;
$skidki-total-width: 305px;
$skidki-total-height: 289px;
$skidki-image: '/assets/template/css/sprites/sprite.png';
$skidki: (176px, 201px, -176px, -201px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'skidki', );
$skidkih-name: 'skidkih';
$skidkih-x: 261px;
$skidkih-y: 0px;
$skidkih-offset-x: -261px;
$skidkih-offset-y: 0px;
$skidkih-width: 44px;
$skidkih-height: 44px;
$skidkih-total-width: 305px;
$skidkih-total-height: 289px;
$skidkih-image: '/assets/template/css/sprites/sprite.png';
$skidkih: (261px, 0px, -261px, 0px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'skidkih', );
$vopros-name: 'vopros';
$vopros-x: 261px;
$vopros-y: 44px;
$vopros-offset-x: -261px;
$vopros-offset-y: -44px;
$vopros-width: 44px;
$vopros-height: 44px;
$vopros-total-width: 305px;
$vopros-total-height: 289px;
$vopros-image: '/assets/template/css/sprites/sprite.png';
$vopros: (261px, 44px, -261px, -44px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'vopros', );
$voprosh-name: 'voprosh';
$voprosh-x: 261px;
$voprosh-y: 88px;
$voprosh-offset-x: -261px;
$voprosh-offset-y: -88px;
$voprosh-width: 44px;
$voprosh-height: 44px;
$voprosh-total-width: 305px;
$voprosh-total-height: 289px;
$voprosh-image: '/assets/template/css/sprites/sprite.png';
$voprosh: (261px, 88px, -261px, -88px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'voprosh', );
$zamer-name: 'zamer';
$zamer-x: 261px;
$zamer-y: 132px;
$zamer-offset-x: -261px;
$zamer-offset-y: -132px;
$zamer-width: 44px;
$zamer-height: 44px;
$zamer-total-width: 305px;
$zamer-total-height: 289px;
$zamer-image: '/assets/template/css/sprites/sprite.png';
$zamer: (261px, 132px, -261px, -132px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'zamer', );
$zamerh-name: 'zamerh';
$zamerh-x: 261px;
$zamerh-y: 176px;
$zamerh-offset-x: -261px;
$zamerh-offset-y: -176px;
$zamerh-width: 44px;
$zamerh-height: 44px;
$zamerh-total-width: 305px;
$zamerh-total-height: 289px;
$zamerh-image: '/assets/template/css/sprites/sprite.png';
$zamerh: (261px, 176px, -261px, -176px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'zamerh', );
$zvonok-name: 'zvonok';
$zvonok-x: 0px;
$zvonok-y: 245px;
$zvonok-offset-x: 0px;
$zvonok-offset-y: -245px;
$zvonok-width: 44px;
$zvonok-height: 44px;
$zvonok-total-width: 305px;
$zvonok-total-height: 289px;
$zvonok-image: '/assets/template/css/sprites/sprite.png';
$zvonok: (0px, 245px, 0px, -245px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'zvonok', );
$zvonokh-name: 'zvonokh';
$zvonokh-x: 0px;
$zvonokh-y: 201px;
$zvonokh-offset-x: 0px;
$zvonokh-offset-y: -201px;
$zvonokh-width: 44px;
$zvonokh-height: 44px;
$zvonokh-total-width: 305px;
$zvonokh-total-height: 289px;
$zvonokh-image: '/assets/template/css/sprites/sprite.png';
$zvonokh: (0px, 201px, 0px, -201px, 44px, 44px, 305px, 289px, '/assets/template/css/sprites/sprite.png', 'zvonokh', );
$spritesheet-width: 305px;
$spritesheet-height: 289px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($bt1, $bt1h, $bt2, $bt2h, $bt3, $bt3h, $bt4, $bt4h, $bt5-1, $bt5, $bt5h-1, $bt5h, $calc, $calch, $price, $priceh, $skidki, $skidkih, $vopros, $voprosh, $zamer, $zamerh, $zvonok, $zvonokh, );
$spritesheet: (305px, 289px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
