//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Контакты</li>
        </ul>
    </div>
</div>

<div class="middle">
    <div class="container">
        <div class="f-row">
            <div class="content">
                <h1 class="header1">Контакты</h1>

                <div class="contacts__box">
                    <div class="contacts__left">
                        <div class="contacts__block contacts__block--phones">
                            <div class="contacts__header">Телефоны:</div>
                            <ul>
                                <li><a href="tel:+74993981019" itemprop="telephone">+7(499)-398-10-19</a></li>
                                <li><a href="tel:+79295967274" itemprop="telephone">+7(929)-596-72-74</a></li>
                                <li><a href="tel:+79265777114" itemprop="telephone">+7(926)-577-71-14</a></li>
                            </ul>
                        </div>

                        <div class="contacts__block contacts__block--worktime">
                            <div class="contacts__header">График работы:</div>
                            <ul>
                                <li>с 9.00-21.00 (без выходных)</li>
                            </ul>
                        </div>

                        <div class="contacts__block contacts__block--email">
                            <div class="contacts__header">E-mail:</div>
                            <ul>
                                <li><a href="mailto:info@dianix.ru" ><span itemprop="email">info@dianix.ru</span></a></li>
                            </ul>
                        </div>

                        <div class="office__card">
                            <div class="office__image">
                                <img src="/assets/template/img/of_zel.jpg">
                            </div>
                            <div class="office__info">
                                <div class="office__name">
                                    Офис продаж:
                                </div>
                                <div class="office__descr">
                                    <p><span itemprop="addressLocality">г. Москва</span>, Зеленоградский АО, <span itemprop="streetAddress">ул. Заводская д.1-Б</span> <br>
                                        ТЦ Арбатский, 3 этаж, пав. 3 (ОКНА ГРИН)</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="contacts__right">
                        <div class="contacts__print"><a href=# onClick="window.print()" class="print_btn" >распечатать</a>  </div>
                        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=oerC5D6-fRgVsQj5WYyd_ano5AonlboL&width=100%&height=350"></script>
                    </div>
                </div>
                <p>
                    Мы работаем по северу Москвы и Московской области.(Долгопрудный, Химки, Митино, Красногорск, <a href="/contacts/lobnya/">Лобня</a>, Сходня, Нахабино, Икша, Зеленоград, Дедовск, Яхрома, Солнечногорск, Снегири, Дмитров, Рогачево, Клин, Истра,  а также по Тверской области (Макшино, Завидово, Конаково, Ново-Мелково, Радченко, Редкино), также возможны выезды по другим направлениям.
                </p>
                <div class="office__list">
                    <div class="office__item">
                        <div class="office__card">
                            <div class="office__image">
                                <img src="/assets/template/img/office/0e28579b29e6a5974fcd83fdfa36a263.jpg">
                            </div>
                            <div class="office__info">
                                <div class="office__name">
                                    <a href="#">Офис в Химках (склад)</a>
                                </div>
                                <div class="office__descr">
                                    <p>г. Химки, ул. Юбилейный проспект, д. 36 (ТЦ Наш дом Химки)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="office__item">
                        <div class="office__card">
                            <div class="office__image">
                                <img src="/assets/template/img/office/c4a5b620b7fb398b27952bc6a8155586.jpg">
                            </div>
                            <div class="office__info">
                                <div class="office__name">
                                    <a href="#">Офис в Солнечногорске (склад)</a>
                                </div>
                                <div class="office__descr">
                                    <p>г. Солнечногорск, ул. Красная, д.117-А (ТЦ Кристалл)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="office__item">
                        <div class="office__card">
                            <div class="office__image">
                                <img src="/assets/template/img/of_zel.jpg">
                            </div>
                            <div class="office__info">
                                <div class="office__name">
                                    Офис продаж:
                                </div>
                                <div class="office__descr">
                                    <p><span itemprop="addressLocality">г. Москва</span>, Зеленоградский АО, <span itemprop="streetAddress">ул. Заводская д.1-Б</span> <br>
                                        ТЦ Арбатский, 3 этаж, пав. 3 (ОКНА ГРИН)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>




//= include/footer.html