//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Контакты</a></li>
            <li class="active">Офис в Клину (склад)</li>
        </ul>
    </div>
</div>

<div class="middle">
    <div class="container">
        <div class="f-row">
            <div class="content">
                <h1 class="header1">Контакты</h1>

                <div class="contacts__box">
                    <div class="contacts__left">
                        <div class="contacts__block contacts__block--phones">
                            <div class="contacts__header">Телефоны:</div>
                            <ul>
                                <li><a href="tel:+74993981019" itemprop="telephone">+7(499)-398-10-19</a></li>
                                <li><a href="tel:+79295967274" itemprop="telephone">+7(929)-596-72-74</a></li>
                                <li><a href="tel:+79265777114" itemprop="telephone">+7(926)-577-71-14</a></li>
                            </ul>
                        </div>

                        <div class="contacts__block contacts__block--worktime">
                            <div class="contacts__header">График работы:</div>
                            <ul>
                                <li>с 9.00-21.00 (без выходных)</li>
                            </ul>
                        </div>

                        <div class="contacts__block contacts__block--email">
                            <div class="contacts__header">E-mail:</div>
                            <ul>
                                <li><a href="mailto:info@dianix.ru" ><span itemprop="email">info@dianix.ru</span></a></li>
                            </ul>
                        </div>

                        <div class="contacts__block contacts__block--address">
                            <div class="contacts__header">Адрес:</div>
                            <ul>
                                <li>г. Клин, Ленинградское шоссе, д. 8</li>
                            </ul>
                        </div>

                    </div>
                    <div class="contacts__right">
                        <div class="contacts__print"><a href=# onClick="window.print()" class="print_btn" >распечатать</a>  </div>
                        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=oerC5D6-fRgVsQj5WYyd_ano5AonlboL&width=100%&height=350"></script>
                    </div>
                </div>
                <div class="stext">
                <h2>Натяжные потолки в городе Клин от  компании  «ДИАНИКС»</h2>
                <p>В компании  «ДИАНИКС» вы можете заказать монтаж натяжных  потолков в городе Клин по выгодной стоимости. Современное потолочное  покрытие преобразит интерьер вашей квартиры или загородного дома. Придаст ему  стильный и эффектный вид без значительных финансовых затрат. </p>
                <p>
                    Предварительный  расчет стоимости работ вы можете заказать у менеджера компании по телефону.  Также вы можете воспользоваться услугами онлайн-калькулятора, который размещен  на нашем сайте, и произвести расчет самостоятельно.</p>
                <h2>Большой выбор потолочного полотна</h2>
                <p>Прежде чем  заказать натяжные потолки в городе Клин,  познакомьтесь с ассортиментом полотен, которые мы предлагаем. </p>
                <p>
                    В  зависимости от общей концепции вашего интерьера, вы можете выбрать:</p>
                <ul>
                    <li>белоснежное  полотно с матовым или глянцевым эффектом, которое хорошо вписывается в  интерьеры, различные по своему стилю и цветовому решению;</li>
                    <li>фактурный  натяжной потолок, позволяющий создавать необычные, особо эффектные  пространства;</li>
                    <li>лаковое полотно,  которое имеет повышенную отражающую способность и придает помещениям  дополнительный визуальный объем. </li>
                </ul>
                <p>Если вы  цените благородные, изысканные интерьеры, то присмотритесь к замшевым потолкам,  включенным в каталог нашей компании. Потолки из замшевого полотна имеют особо  выразительные фактуры и глубокий, слегка приглушенный цвет. Такой потолок  способен стать визуальным центром любого интерьера; внести в него ноты  утонченности и элегантности.  </p>
                <h2>Как заказать натяжные потолки в городе Клин?</h2>
                <p>Для того  чтобы заказать монтаж потолочного полотна воспользуйтесь специальной формой  нашего сайта и оформите заявку на выезд замерщика. В назначенное время к вам приедет  специалист «ДИАНИКС» для того чтобы:</p>
                <ul>
                    <li>на месте сделать все  необходимые замеры с учетом конструкции натяжного потолка;</li>
                    <li>произвести  калькуляцию стоимости выбранного полотна, крепежных/ расходных материалов и  работ. </li>
                </ul>
                <p>После проведения всех расчетов вы сможете назначить  дату монтажа. Для проведения работ к вам выедет команда опытных  специалистов-монтажников, имеющих соответствующую квалификацию. Мастера быстро  и качественно произведут монтаж натяжного  потолка в городе Клин с учетом всех ваших пожеланий и выбранного дизайна. В  результате вы получите стильное, эстетичное потолочное покрытие, которое  придаст вашему интерьеру обновленный вид. </p>


                <h2>Цены на натяжные потолки в городе Клин</h2>
                <table class="table_price vtor">
                    <tr>
                        <th>Производитель</th>
                        <th>ТМ</th>
                        <th>Цвет</th>
                        <th>Ширина</th>
                        <th>Ед.Изм.</th>
                        <th>Цена</th>
                    </tr>

                    <tr>
                        <td rowspan="2"><img src="/upload/medialibrary/bd9/bd908dd8e7be7e91f39ba6d23cf2a43e.png" alt="Натяжные потолки фабрики MSD" width="150" /></td>
                        <td rowspan="2">MSD <br /> Китай</td>
                        <td>Белый</td>
                        <td>600 см</td>
                        <td>1 м.кв.</td>
                        <td>от 400,00 руб.</td>
                    </tr>

                    <tr>
                        <td>Цветной</td>
                        <td>600 см</td>
                        <td>1 м.кв.</td>
                        <td>от 550,00 руб.</td>
                    </tr>

                    <tr>
                        <td rowspan="2"><img src="/upload/medialibrary/012/01292757fff5cafc837ba49dc023357d.png" width="150" /></td>
                        <td rowspan="2">Pongs <br /> Германия</td>
                        <td>Белый</td>
                        <td>350 см</td>
                        <td>1 м.кв.</td>
                        <td>от 500,00 руб.</td>
                    </tr>

                    <tr>
                        <td>Цветной</td>
                        <td>350 см</td>
                        <td>1 м.кв.</td>
                        <td>от 650,00 руб.</td>
                    </tr>

                    <tr>
                        <td rowspan="2"><img src="/upload/medialibrary/06e/06e9d600c9c1703b1e86d40e64edc0d5.png" width="150" /></td>
                        <td rowspan="2">Descor <br /> Германия</td>
                        <td>Белый</td>
                        <td>500 см</td>
                        <td>1 м.кв.</td>
                        <td>от 1200,00 руб.</td>
                    </tr>

                    <tr>
                        <td>Цветной</td>
                        <td>500 см</td>
                        <td>1 м.кв.</td>
                        <td>от 1700,00 руб.</td>
                    </tr>

                    <tr>
                        <td rowspan="2"><img src="/upload/medialibrary/d4a/d4a8a3f3ea5fcc6c88287bf10485674b.jpg" width="150" /></td>
                        <td rowspan="2">Clipso <br /> Франция</td>
                        <td>Белый</td>
                        <td>500 см</td>
                        <td>1 м.кв.</td>
                        <td>от 1400,00 руб.</td>
                    </tr>

                    <tr>
                        <td>Цветной</td>
                        <td>500 см</td>
                        <td>1 м.кв.</td>
                        <td>от 1900,00 руб.</td>
                    </tr>
                </table>

                </div>

                <h2>Фото выполненных работ</h2>

                <div class="work__list">
                    <div class="work__item">
                        <a href="/assets/template/img/contacts/klin/klin1.jpg"><img src="/assets/template/img/contacts/klin/klin1.jpg" alt=""></a>
                    </div>
                    <div class="work__item">
                        <a href="/assets/template/img/contacts/klin/klin2.jpg"><img src="/assets/template/img/contacts/klin/klin2.jpg" alt=""></a>
                    </div>
                    <div class="work__item">
                        <a href="/assets/template/img/contacts/klin/klin4.jpg"><img src="/assets/template/img/contacts/klin/klin4.jpg" alt=""></a>
                    </div>
                    <div class="work__item">
                        <a href="/assets/template/img/contacts/klin/klin5.jpg"><img src="/assets/template/img/contacts/klin/klin5.jpg" alt=""></a>
                    </div>
                    <div class="work__item">
                        <a href="/assets/template/img/contacts/klin/klin6.jpg"><img src="/assets/template/img/contacts/klin/klin6.jpg" alt=""></a>
                    </div>
                    <div class="work__item">
                        <a href="/assets/template/img/contacts/klin/klin7.jpg"><img src="/assets/template/img/contacts/klin/klin7.jpg" alt=""></a>
                    </div>
                    <div class="work__item">
                        <a href="/assets/template/img/contacts/klin/klin8.jpg"><img src="/assets/template/img/contacts/klin/klin8.jpg" alt=""></a>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>




//= include/footer.html