//= include/header.html

<div class="slider-main">
    <div class="container">
        <ul class="bxslider_glav">
            <li>
                <a href="/akcii/" class="not_line">
                    <div class="zero_slide">
                        <div class=" text-slide">
                            <img src="/assets/template/img/slider/lamps/basket.png" >
                            <p>При заказе <span class="big">натяжного потолка </span></p>
                            <p><span class="big">светильники</span> со светодиодной лампой </p>
                            <p><span class="big">в подарок!</span></p>
                            <a href="/akcii/" class="link-more">Подробнее</a>
                        </div>
                        <div class="slider__lamps">
                            <a href="/akcii/"><div class="lamp l_1"></div></a>
                            <a href="/akcii/"><div class="lamp l_2"></div></a>
                            <a href="/akcii/"><div class="lamp l_3"></div></a>
                            <a href="/akcii/"><div class="lamp l_4"></div></a>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/akcii/" class="not_line">
                    <div class="first_slide">
                        <div class="slide__info">
                            <div class="slide_name">Акция <span>"Вся квартира"</span></div>
                            <div class="slide_text">
                                <div class="slide_salle">-30%</div>
                                <p style="font-size: 34px; text-transform: uppercase;">на всю квартиру!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li><a href="/akcii/" class="not_line">
                <div class="second_slide">
                    <div class="slide__info">
                        <div class="slide_name">Акция <span>"Социальная карта"</span></div>
                        <div class="slide_text">
                            <div class="slide_salle">-10%</div>
                            <p>на установку натяжных потолков из ПВХ пленки всем владельцам социальных карт</p>
                        </div>
                    </div>
                </div>
            </a>
            </li>
            <li>
                <a href="/akcii/" class="not_line">
                    <div class="third_slide">
                        <div class="slide__info">
                            <div class="slide_name">Акция <span>"Новоселы"</span></div>
                            <div class="slide_text">
                                <div class="slide_salle">-10%</div>
                                <p>скидки на монтаж натяжного потолка из ПВХ пленки</p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/akcii/" class="not_line">
                    <div class="fourth_slide">
                        <div class="slide__info">
                            <div class="slide_name">Акция <span>"Цвет потолка в подарок"</span></div>
                            <div class="slide_text">
                                <p style="margin-top: 70px;">Воспользуйтесь установкой ярких и необычных потолков по стоимости белых!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-sections">
    <div class="container">
        <ul>
            <li><a class="bt5 hov" href="http://dianix.ru/natyajnie-potolki/">Надежные натяжные потолки</a></li>
            <li><a class="bt3 hov" href="http://www.dianix.ru/svetilniki/"> Светильники</a></li>
            <li><a class="bt1 hov" href="http://dianix.ru/about/of-vacancies/"> Вакансии </a></li>
            <li><a class="bt2 hov" href="http://dianix.ru/about/certification/"> Сертификаты </a></li>
            <li><a class="bt4 hov" href="http://dianix.ru/services/shipping/">   Доставка   </a></li>
        </ul>
    </div>
</div>

<div class="linebg">
    <div class="container">
        <h1>Натяжные потолки</h1>
        <p>Компания «ДИАНИКС» предлагает купить  качественные натяжные потолки в Зеленограде  различных типов и оттенков с  профессиональным монтажом. Стоимость  с установкой нашими  специалистами позволит сделать отделку данным материалом выгодной и  экономичной. </p>
        <p>Появление натяжных потолков произошло относительно недавно,  однако их эксплуатационные характеристики быстро сделали данный вид потолочной  отделки популярным и востребованным. </p>
        <p>Такая отделка потолка недорогая, но при этом — очень практичная,  стильная и долговечная. </p>
        <p>Разнообразие натяжных потолков дает возможность подбирать  оптимальные варианты покрытия под особенности интерьера. Современных  потребителей также привлекают широкие возможности по созданию потолочных  поверхностей в несколько ярусов, которые могут отличаться самой причудливой  формой. </p>
        <h2>Виды натяжных потолков</h2>
        <div class="main-links__list row">
            <div class="main-links">
                <div class="main-links__card">
                    <a href="/natyajnie-potolki/matovye-natyazhnye-potolki/"><img alt="Матовые натяжные потолки" src="/upload/iblock/60b/60b0eb829c2a6d319172b8e1133cf8dc.jpg" title="Матовые натяжные потолки" width="233" height="175" border="0"></a>
                    <a class="list-name" href="/natyajnie-potolki/matovye-natyazhnye-potolki/">Матовые</a>
                    <div class="front-ot">от 400 руб./м2</div>
                </div>
            </div>
            <div class="main-links">
                <div class="main-links__card">
                    <a href="/natyajnie-potolki/glyantsevye-natyazhnye-potolki/"><img alt="Глянцевые натяжные потолки" src="/upload/iblock/dfd/dfd0b696831dbe6640d11baae804e9c4.jpg" title="Глянцевые натяжные потолки" width="233" height="175" border="0"></a>
                    <a class="list-name" href="/natyajnie-potolki/glyantsevye-natyazhnye-potolki/">Глянцевые</a>
                    <div class="front-ot">от 400 руб./м2</div>
                </div>
            </div>
            <div class="main-links">
                <div class="main-links__card">
                    <a href="/natyajnie-potolki/tkanevye-natyazhnye-potolki/"><img alt="Тканевые натяжные потолки" src="/upload/iblock/a60/a60b4ca794f927e8af75210dfe8b4e8c.JPG" title="Тканевые натяжные потолки" width="233" height="175" border="0"></a>
                    <a class="list-name" href="/natyajnie-potolki/tkanevye-natyazhnye-potolki/">Тканевые</a>
                    <div class="front-ot">от 1200 руб./м2</div>
                </div>
            </div>
            <div class="main-links">
                <div class="main-links__card">
                    <a href="/natyajnie-potolki/metallicheskie-natyazhnye-potolki/"><img alt="Металлические натяжные потолки" src="/upload/iblock/161/161afd7d5430fe3cd4622bbb7ec4b95a.jpeg" title="Металлические натяжные потолки" width="233" height="175" border="0"></a>
                    <a class="list-name" href="/natyajnie-potolki/metallicheskie-natyazhnye-potolki/">Металлические</a>
                    <div class="front-ot">от 1300 руб./м2</div>
                </div>
            </div>
            <div class="main-links">
                <div class="main-links__card">
                    <a href="/natyajnie-potolki/zamshevye-natyazhnye-potolki/"><img alt="Замшевые натяжные потолки" src="/upload/iblock/fdc/fdc3171330a0788638c5eb243ed44e94.jpg" title="Замшевые натяжные потолки" width="233" height="175" border="0"></a>
                    <a class="list-name" href="/natyajnie-potolki/zamshevye-natyazhnye-potolki/">Замшевые</a>
                    <div class="front-ot">от 900 руб./м2</div>
                </div>
            </div>
            <div class="main-links">
                <div class="main-links__card">
                    <a href="/natyajnie-potolki/khudozhestvennye-natyazhnye-potolki/"><img alt="Художественные натяжные потолки" src="/upload/iblock/62d/62d2623999c2e935cff2afc22e30f47d.jpg" title="Художественные натяжные потолки" width="233" height="175" border="0"></a>
                    <a class="list-name" href="/natyajnie-potolki/khudozhestvennye-natyazhnye-potolki/">Художественные</a>
                    <div class="front-ot">от 2000 руб./м2</div>
                </div>
            </div>
            <div class="main-links">
                <div class="main-links__card">
                    <a href="/natyajnie-potolki/urovnevye-natyazhnye-potolki/"><img alt="Уровневые натяжные потолки" src="/upload/iblock/889/8898e8d1a1c53031eb4948a4cd1b4c7d.jpg" title="Уровневые натяжные потолки" width="233" height="175" border="0"></a>
                    <a class="list-name" href="/natyajnie-potolki/urovnevye-natyazhnye-potolki/">Уровневые</a>
                    <div class="front-ot">от 2000 руб./м2</div>
                </div>
            </div>
            <div class="main-links">
                <div class="main-links__card">
                    <a href="/natyajnie-potolki/natyazhnye-potolki-3d/"><img alt="Натяжные потолки 3d" src="/upload/iblock/0ff/0fffef27731800f3b41e067c47cb0ea5.jpg" title="Натяжные потолки 3d" width="233" height="175" border="0"></a>
                    <a class="list-name" href="/natyajnie-potolki/natyazhnye-potolki-3d/">3D</a>
                    <div class="front-ot">от 3000 руб./м2</div>
                </div>
            </div>
        </div>
        <div class="main-links__more">
            <a href="/natyajnie-potolki/">Смотреть все &gt;&gt;</a>
        </div>
    </div>
</div>

<div class="main-media">
    <div class="container">
        <div class="row main-media__list">
            <div class="main-media__video column">
                <iframe width="100%" height="258" src="//www.youtube.com/embed/Vk9us7OqBcE" frameborder="0" allowfullscreen></iframe>
                <h2>Эффективная защита от залива соседей</h2>
                <p>Заказав потолочное покрытие с монтажом по привлекательной цене в компании «ДИАНИКС», вы сможете не волноваться о возможном заливе квартиры соседями сверху. Качественные потолочные пленки, представленные известными производителями, выдерживают нагрузку воды до 110 л на 1 м кв. Такой запас прочности и эластичности поможет вам избежать порчи имущества при заливе.</p>
                <p style="text-align: center;"><a href="/about/useful-information/bezopasnaya-ustanovka-potolkov-dianiks/" title="Безопасная установка потолков Дианикс"><img src="/images/bezopasnaya-ustanovka-potolkov-dianiks-3.png" title="Безопасная установка потолков Дианикс" alt="Безопасная установка потолков Дианикс"></a></p>
                <div class="link-main"><a href="/about/useful-information/bezopasnaya-ustanovka-potolkov-dianiks/">Узнать подробнее</a></div>
            </div>
            <div class="main-media__articles column">
                <div class="header-bordered">
                    <a href="#">Статьи</a>
                </div>

                <div class="news-line">
                    <div class="news-line__item">
                        <div class="news-line__caption">
                            <a href="/about/useful-information/mnogourovnevye-natyazhnye-potolki/">Многоуровневые натяжные потолки</a>
                        </div>
                        <div class="news-line__text">
                            <p>Натяжные потолки в несколько уровней – это отличный способ зонирования пространства, который обеспечивает нужный уровень освещения в рабочих зонах, надежно скрывая все коммуникации.</p>
                        </div>
                        <div class="news-line__more">
                            <a href="/about/useful-information/mnogourovnevye-natyazhnye-potolki/"><i>подробнее</i></a>
                        </div>
                    </div>
                    <div class="news-line__item">
                        <div class="news-line__caption">
                            <a href="/about/useful-information/satinovyy-potolok-v-interere/">Сатиновый потолок в интерьере</a>
                        </div>
                        <div class="news-line__text">
                            <p>Многие заказчики останавливают свой выбор на сатиновых потолках. Попробуем разобраться, чем они привлекают потребителей и какие возможности открывают при обустройстве интерьеров?</p>
                        </div>
                        <div class="news-line__more">
                            <a href="/about/useful-information/satinovyy-potolok-v-interere/"><i>подробнее</i></a>
                        </div>
                    </div>
                    <div class="news-line__item">
                        <div class="news-line__caption">
                            <a href="/about/useful-information/chernyy-natyazhnoy-potolok-originalnost-ili-ekzotika/">Черный натяжной потолок – оригинальность или экзотика?</a>
                        </div>
                        <div class="news-line__text">
                            <p>Черный натяжной потолок – оригинальный дизайнерский ход, который необходимо использовать с большой осторожностью. Однако если такой потолок будет грамотно вписан в интерьер, он станет действительно интересной деталью, способной подчеркнуть как классические, так и ультра-современные стили.</p>
                        </div>
                        <div class="news-line__more">
                            <a href="/about/useful-information/chernyy-natyazhnoy-potolok-originalnost-ili-ekzotika/"><i>подробнее</i></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="main-news">
    <div class="container">
        <div class="header-bordered">
            <a href="#">Новости</a>
        </div>
        <div class="news-list row">
            <article>
                <div class="news-list__date">09.18.2017</div>
                <div class="news-list__caption">
                    <a href="/about/news/directions-zelenograd/">Направления Зеленоград</a>
                </div>
                <div class="news-list__text">
                    <p>Компания «ДИАНИКС» рада сообщить о наших новых направлениях. Мы предлагаем качественные натяжные потолки в подмосковном городе Зеленограде и близлежащих...</p>
                </div>
                <div class="news-list__more">
                    <a href="/about/news/directions-zelenograd/">подробнее</a>
                </div>
            </article>
            <article>
                <div class="news-list__date">09.01.2017</div>
                <div class="news-list__caption">
                    <a href="/about/news/event-documentation/">Акция «Светильники в подарок»</a>
                </div>
                <div class="news-list__text">
                    <p>Мы предлагаем для всех клиентов приятную акцию. При оформлении заказа в компании «ДИАНИКС» на монтаж натяжного потолка вместе с установкой элементов освещения,...</p>
                </div>
                <div class="news-list__more">
                    <a href="/about/news/event-documentation/">подробнее</a>
                </div>
            </article>
            <article>
                <div class="news-list__date">08.11.2017</div>
                <div class="news-list__caption">
                    <a href="/about/news/event-documentation/">Направления Сходня</a>
                </div>
                <div class="news-list__text">
                    <p>Компания «ДИАНИКС» специализируется на поставке натяжных материалов для отделки потолков в различных подмосковных районах. Один из офисов-складов открыт...</p>
                </div>
                <div class="news-list__more">
                    <a href="/about/news/event-documentation/">подробнее</a>
                </div>
            </article>
            <article>
                <div class="news-list__date">07.25.2017</div>
                <div class="news-list__caption">
                    <a href="/about/news/event-documentation/">Направления Клин, Клинский район</a>
                </div>
                <div class="news-list__text">
                    <p>Компания «ДИАНИКС» предлагает натяжные потолки высокого качества в городе Клин и Клинском районе. Мы работаем в сфере монтажа и отделки потолков натяжными...</p>
                </div>
                <div class="news-list__more">
                    <a href="/about/news/event-documentation/">подробнее</a>
                </div>
            </article>
        </div>
    </div>
</div>


//= include/footer.html