//= include/header.html

<script>document.body.classList.add("catalog-page");</script>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Потолки</a></li>
            <li class="active">Фактурные натяжные потолки</li>
        </ul>
    </div>
</div>

<div class="middle">
    <div class="container">
        <div class="f-row">
            <div class="content">
                <h1 class="header1">Фактурные натяжные потолки</h1>

                <div class="white-bg">
                    <p>Если&nbsp;&nbsp;вы мечтаете создать в своем жилище по-настоящему уникальную атмосферу, в&nbsp;&nbsp;которой потолок будет выступать яркой акцентной деталью, выбирайте фактурные&nbsp;&nbsp;натяжные потолки. Они созданы для тех, кто не боится экспериментировать с&nbsp;&nbsp;интерьерными решениями и стремится воплощать в жизнь оригинальные дизайнерские&nbsp;&nbsp;задумки.</p>


                        <div class="ceiling-slider">
                            <div>
                                <img src="/upload/iblock/031/0319482b5038ed658bd28025f62a6c57.JPG" alt="Фактурные натяжные потолки" title="Фактурные натяжные потолки" />
                                <div class="ceiling-slider__caption">Фактурные натяжные потолки</div>
                            </div>
                            <div> <img src="/upload/iblock/4c3/4c31396889add0575b92c31fe0f24e24.jpg" alt="Фактурные натяжные потолки" title="Фактурные натяжные потолки" /></div>
                            <div> <img src="/upload/iblock/46e/46e803ad8936bd337ef08e79cad0c2a4.jpg" alt="Фактурные натяжные потолки" title="Фактурные натяжные потолки" /></div>
                            <div> <img src="/upload/iblock/ac8/ac818181119fa214b5bde04199e49e64.jpg" alt="Фактурные натяжные потолки" title="Фактурные натяжные потолки" /></div>
                            <div> <img src="/upload/iblock/883/883707e217be8fac2ceebb3078729b83.jpg" alt="Фактурные натяжные потолки" title="Фактурные натяжные потолки" /></div>
                        </div>
                    <p>Фактурные натяжные потолки могут имитировать разнообразные поверхности. Это может быть дерево, мрамор, металл, замша, фактуры редких или дорогостоящих материалов. Выбор такого потолка станет отличным решением, если дизайн-проект предусматривает наличие эффектного потолочного покрытия с необычной фактурой. С помощью фактурных натяжных потолков вы сможете значительно раздвинуть границы возможностей по оформлению интерьера. </p>
                    <p>Натяжные  потолки с фактурой не только очень красивы, но и практичны, влагоустойчивы,  долговечны и просты в уходе. Они не выгорают на солнце, обеспечивают высокую  степень защиты от шума и залива соседями с верхних этажей, отличаются  прочностью и широким спектром цветовых решений.</p>
                    <h2>Виды потолков с фактурной поверхностью</h2>
                    <ul>
                        <li>Замша. Использование фактурных натяжных потолков с  имитацией под благородные замшевые материалы позволяет создавать эффектные  интерьеры в винтажной или классической стилистиках.  </li>
                        <li>Металлик. Данная фактура потолочного покрытия идеальна для  реализации дизайн-проектов в стилистике хай-тек. Игра световых бликов на  металлизированной поверхности позволит эффектно зонировать пространство  помещения и создавать оригинальные интерьеры в рамках современного стиля. </li>
                        <li>Рельефная поверхность. Такой потолок имеет выпуклую фактуру  — рисунок или узор на его поверхности впечатан в полотно, что создает  впечатление объема покрытия. Варианты рельефа разнообразны — выбор орнамента  будет зависеть от особенностей дизайна помещения. </li>
                        <li>Мрамор. Потолочный материал натурально имитирует благородные  прожилки настоящего мрамора. Такой вариант станет отличным решением для отделки  потолка ресторанов и холлов административных центров, бассейнов и помещений  коммерческой направленности.</li>
                    </ul>
                    <p>На  нашем сайте вы можете воспользоваться функцией расчета стоимости потолка с  фактурой с помощью онлайн калькулятора. Для этого нужно будет ввести в  соответствующие поля информацию о понравившемся вам типе фактуры поверхности,  площади комнаты и ее периметре. </p>

                </div>

                <div class="stext">
                    <h2 class="header-bordered">Цены на фактурные натяжные потолки</h2>
                    <table class="table_price vtor">
                        <tbody>
                        <tr>
                            <th>Производитель</th>
                            <th>ТМ</th>
                            <th>Цвет</th>
                            <th>Ширина</th>
                            <th>Ед.Изм.</th>
                            <th>Цена</th>
                        </tr>
                        <tr>
                            <td rowspan="2" class="br_rigt"><img src="/assets/template/img/cena/msd.jpg" width="96" height="76"></td>
                            <td rowspan="2" class="br_rigt">MSD</td>
                            <td>Белый</td>
                            <td>320 см</td>
                            <td>1 м.кв.</td>
                            <td>от 900,00 руб.</td>
                        </tr>
                        <tr>
                            <td>Цветной</td>
                            <td>320 см</td>
                            <td>1 м.кв.</td>
                            <td>от 900,00 руб.</td>
                        </tr>

                        <tr>
                            <td rowspan="2" class="br_rigt"><img src="/assets/template/img/cena/pongs.jpg" width="96" height="76"></td>
                            <td rowspan="2" class="br_rigt">Pongs</td>
                            <td>Белый</td>
                            <td>325 см</td>
                            <td>1 м.кв.</td>
                            <td>от 1300,00 руб.</td>
                        </tr>
                        <tr>
                            <td>Цветной</td>
                            <td>325 см</td>
                            <td>1 м.кв.</td>
                            <td>от 1300,00 руб.</td>
                        </tr>
                        </tbody>
                    </table>
                    <h2 class="header-bordered">Примеры выполненных работ</h2>
                    <div class="work-ceiling__list">
                        <div class="work-ceiling__item">
                            <a href="/assets/template/img/works/fakturnye-natyazhnye-potolki-1.jpg"><img src="/assets/template/img/works/fakturnye-natyazhnye-potolki-1.jpg" alt=""></a>
                        </div>
                        <div class="work-ceiling__item">
                            <a href="/assets/template/img/works/fakturnye-natyazhnye-potolki-2.jpg"><img src="/assets/template/img/works/fakturnye-natyazhnye-potolki-2.jpg" alt=""></a>
                        </div>
                        <div class="work-ceiling__item">
                            <a href="/assets/template/img/works/fakturnye-natyazhnye-potolki-3.jpg"><img src="/assets/template/img/works/fakturnye-natyazhnye-potolki-3.jpg" alt=""></a>
                        </div>
                        <div class="work-ceiling__item">
                            <a href="/assets/template/img/works/fakturnye-natyazhnye-potolki-4.jpg"><img src="/assets/template/img/works/fakturnye-natyazhnye-potolki-4.jpg" alt=""></a>
                        </div>
                        <div class="work-ceiling__item">
                            <a href="/assets/template/img/works/fakturnye-natyazhnye-potolki-5.jpg"><img src="/assets/template/img/works/fakturnye-natyazhnye-potolki-5.jpg" alt=""></a>
                        </div>
                    </div>
                </div>




            </div>
            <div class="sidebar">
                <div class="sidebar__menu">
                    <ul class="left-menu">
                        <li><a href="#">Применение</a></li>
                        <li><a href="#">Цвета</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




//= include/footer.html