//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Фото выполненных работ</li>
        </ul>
    </div>
</div>

<div class="middle">
    <div class="container">
        <div class="f-row">
            <div class="content">
                <h1 class="header1">Фото</h1>
                <div class="photo__list">
                    <div class="photo__item">
                        <a href="#" class="photo__card">
                            <div class="photo__image" style="background-image: url('/upload/iblock/987/987ce0a0d7effc0e52196623aae1c7d8.jpg');">
                            </div>
                            <div class="photo__name">
                                Брехово. Матовый белый потолок.
                            </div>
                        </a>
                    </div>
                    <div class="photo__item">
                        <a href="#" class="photo__card">
                            <div class="photo__image" style="background-image: url('/upload/iblock/fa5/fa5757ef978e6635e762d94fac26379e.jpg');">
                            </div>
                            <div class="photo__name">
                                г. Зеленоград. Фактурный потолок"Облака"
                            </div>
                        </a>
                    </div>
                    <div class="photo__item">
                        <a href="#" class="photo__card">
                            <div class="photo__image" style="background-image: url('/upload/iblock/a66/a66f7356088e3f85c7ec4ca24716d3d4.jpg');">
                            </div>
                            <div class="photo__name">
                                г. Солнечногорск. Белый матовый потолок
                            </div>
                        </a>
                    </div>
                    <div class="photo__item">
                        <a href="#" class="photo__card">
                            <div class="photo__image" style="background-image: url('/upload/iblock/0f2/0f2916cae55f756a56495df61f226f9a.jpg');">
                            </div>
                            <div class="photo__name">
                                г. Солнечногорск. Фактурный потолок "Облака"
                            </div>
                        </a>
                    </div>
                    <div class="photo__item">
                        <a href="#" class="photo__card">
                            <div class="photo__image" style="background-image: url('/upload/iblock/4aa/4aa09552e716a41ef0fba2e3e5ed70a4.jpg');">
                            </div>
                            <div class="photo__name">
                                г.Высоковс (частный сектор)
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>




//= include/footer.html