//= include/header.html

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Услуги</li>
        </ul>
    </div>
</div>

<div class="middle">
    <div class="container">
        <div class="f-row">
            <div class="content">
                <h1 class="header1">Услуги компании «Дианикс»</h1>
                <div class="f-inline--center">
                    <img class="imgin" title="1.jpg" src="/upload/medialibrary/ea2/ea2712c2667fbefaeba18b31421fb29c.jpg" alt="разметка натяжного потолка" align="left" height="159" width="218">
                    <img class="" title="услуги-по-папкам_10.png" src="/upload/medialibrary/bb9/bb9677845b4cd8a8161f1f201aad8788.png" alt="услуги-по-папкам_10.png" align="left" height="22" width="19">
                    <img class="imgin" title="2.jpg" src="/upload/medialibrary/7ee/7eeee11ec4ee982b60567ffa514576fb.jpg" alt="2.jpg" align="left" height="159" width="218">
                    <img class="" title="услуги-по-папкам_10.png" src="/upload/medialibrary/bb9/bb9677845b4cd8a8161f1f201aad8788.png" alt="услуги-по-папкам_10.png" align="left" height="22" width="19">
                    <img title="3.jpg" src="/upload/medialibrary/94f/94fb1a516ee8f49890e9cc474b37ddb1.jpg" alt="3.jpg" height="159" width="218">
                </div>


                <h3>Порядок установки натяжных потолков</h3>
                <p>Установка натяжных потолков производится в несколько этапов: <br>
                    — снятие размеров помещения и разработка проекта; <br>
                    — установка каркаса (при создании многоуровневого потолка); <br>
                    — раскрой и сварка полотен натяжного потолка (при необходимости); <br>
                    — крепление к потолку специального багета, к которому будет производиться монтаж материала; <br>
                    — прогрев материала тепловой пушкой и крепление его к багету.</p>
                <h2 class="header-bordered">Видеоотчет</h2>

                <div class="f-inline">
                    <iframe width="435" height="273" src="//www.youtube.com/embed/Vk9us7OqBcE" frameborder="0" allowfullscreen></iframe>
                    <img title="d" src="/upload/medialibrary/fe8/fe8baa5f19ab239e66eab83d41a97db1.jpg" alt="d">
                </div>



                <p>
                    Производство и монтаж натяжных потолков - быстро, качественно, аккуратно!
                </p>
                <p>
                    Натяжные потолки привлекают современного потребителя не только как эффектная и стильная деталь интерьера. Помимо своих высоких эстетических показателей, они еще и надежны, практичны, долговечны, просты в монтаже и обслуживании.
                </p>
                <p>
                    Компания Дианикс обладает 10-летним опытом работы и предоставляет услуги по монтажу, текущему обслуживанию и ремонту натяжных потолков.
                </p>

                <p>
                    <b>Преимущества установки натяжных потолков:</b>
                </p>
                <p>
                    — создание оригинального дизайна интерьера;
                </p>
                <p>
                    — возможность скрыть различные коммуникации и дефекты потолочных перекрытий;
                </p>
                <p>
                    — визуально увеличить объем помещения;
                </p>
                <p>
                    — защитить свою квартиру от залива водой соседями сверху.
                </p>
                <p>
                    Установить натяжные потолки можно в любых помещениях, независимо от площади и конфигурации. Монтировать их можно даже после окончания отделки стен — установка потолков производится очень аккуратно, так чтобы ни одна деталь интерьера не пострадала.
                </p>
                <p>
                    <b>Виды устанавливаемых натяжных потолков</b>
                </p>
                <p>
                    Натяжные потолки классифицируют по нескольким признакам.
                </p>
                <p>
                    По материалу они бывают тканевыми или произведенными из ПВХ;
                </p>
                <p>
                    По текстуре — матовые или глянцевые;
                </p>
                <p>
                    По виду монтажа — одно- или многоуровневые.
                </p>
                <p>
                    Каждый вид натяжных потолков обладает своими достоинствами.
                </p>
                <p>
                    Одноуровневые натяжные потолки удобны тем, что не «съедают» пространство в комнате, ведь их можно установить буквально в нескольких сантиметрах от основного перекрытия.
                </p>
                <p>
                    Многоуровневые натяжные потолки привлекают тем, что прекрасно скрывают коммуникации, а также позволяют создавать оригинальные и стильные дизайнерские решения.
                </p>
                <p>
                    Преимущество тканевых потолков в том, что они изготовлены из экологически чистого, «дышащего» материала.
                </p>
                <p>
                    Покрытия из ПВХ также имеют свои преимущества. Они водонепроницаемы, стойки к выгоранию на солнце, просты в уходе, долговечны, их можно демонтировать и смонтировать вновь, относительно недороги.
                </p>
                <p>
                    Матовые натяжные потолки универсальны, это настоящее олицетворение классики. Такой потолок подойдет к любому интерьеру, также они хороши тем, что на них практически незаметны швы.
                </p>
                <p>
                    Глянцевые натяжные потолки зрительно увеличивают помещение и выглядят очень стильно и современно.
                </p>
                <p>
                    <b>Как проходит установки натяжных потолков</b>
                </p>
                <p>
                    Монтаж натяжных потолков осуществляется в несколько этапов:
                </p>
                <p>
                    — делаются замеры помещения, и разрабатывается проект;
                </p>
                <p>
                    — устанавливается каркас (при монтаже многоуровневого потолка);
                </p>
                <p>
                    — производится раскрой и сварка натяжных полотен (в случае необходимости);
                </p>
                <p>
                    — к потолку крепится специальный багет, к которому будет монтироваться натяжное покрытие;
                </p>
                <p>
                    —материал прогревается тепловой пушкой и крепится к багету.
                </p>


            </div>
            <div class="sidebar">
                <div class="sidebar__menu">
                <ul class="left-menu">
                    <li><a href="#">Полезная информация</a></li>
                    <li><a href="#">Сертификаты</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>




//= include/footer.html