//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Светильники</a></li>
            <li class="active">Светильники - Альфа свет</li>
        </ul>
    </div>
</div>

<div class="middle">
    <div class="container">
        <div class="f-row">
            <div class="content">
                <h1 class="header1">Светильники - Альфа свет</h1>
                <div class="product__list">
                    <div class="product__item">
                        <div class="product__card">
                            <div class="product__image">
                                <a data-fancybox="gallery" href="/upload/iblock/837/83748a975f49b4a2560d68045b43b60c.png">
                                    <img src="/upload/iblock/837/83748a975f49b4a2560d68045b43b60c.png" alt="Светодиодный светильник X-001 15W" title="Светодиодный светильник X-001 15W">
                                </a>
                            </div>
                            <h4 class="product__name">
                                Светодиодный светильник X-001 15W
                            </h4>
                            <div class="product__price-box">
                                Цена: <span class="product__price">1300 руб.</span>
                            </div>

                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__card">
                            <div class="product__image">
                                <a data-fancybox="gallery" href="/upload/iblock/472/4720adc7a58cdea26aa5de88a9817c91.png">
                                    <img src="/upload/iblock/f65/f65957cab7380eec5177c3e3242e02db.png" alt="Светодиодный светильник X-001 15W" title="Светодиодный светильник X-001 15W">
                                </a>
                            </div>
                            <h4 class="product__name">
                                Светодиодный светильник X-001 15W
                            </h4>
                            <div class="product__price-box">
                                Цена: <span class="product__price">1300 руб.</span>
                            </div>

                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__card">
                            <div class="product__image">
                                <a data-fancybox="gallery" href="/upload/iblock/472/4720adc7a58cdea26aa5de88a9817c91.png">
                                    <img src="/upload/iblock/f65/f65957cab7380eec5177c3e3242e02db.png" alt="Светодиодный светильник X-001 15W" title="Светодиодный светильник X-001 15W">
                                </a>
                            </div>
                            <h4 class="product__name">
                                Светодиодный светильник X-001 15W
                            </h4>
                            <div class="product__price-box">
                                Цена: <span class="product__price">1300 руб.</span>
                            </div>

                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__card">
                            <div class="product__image">
                                <a data-fancybox="gallery" href="/upload/iblock/472/4720adc7a58cdea26aa5de88a9817c91.png">
                                    <img src="/upload/iblock/f65/f65957cab7380eec5177c3e3242e02db.png" alt="Светодиодный светильник X-001 15W" title="Светодиодный светильник X-001 15W">
                                </a>
                            </div>
                            <h4 class="product__name">
                                Светодиодный светильник X-001 15W
                            </h4>
                            <div class="product__price-box">
                                Цена: <span class="product__price">1300 руб.</span>
                            </div>

                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__card">
                            <div class="product__image">
                                <a data-fancybox="gallery" href="/upload/iblock/472/4720adc7a58cdea26aa5de88a9817c91.png">
                                    <img src="/upload/iblock/f65/f65957cab7380eec5177c3e3242e02db.png" alt="Светодиодный светильник X-001 15W" title="Светодиодный светильник X-001 15W">
                                </a>
                            </div>
                            <h4 class="product__name">
                                Светодиодный светильник X-001 15W
                            </h4>
                            <div class="product__price-box">
                                Цена: <span class="product__price">1300 руб.</span>
                            </div>

                        </div>
                    </div>
                </div>





            </div>
            <div class="sidebar">
                <div class="sidebar__menu">
                    <ul class="left-menu">
                        <li><a href="#">Монтаж потолков</a></li>
                        <li><a href="#">Производство</a></li>
                        <li><a href="#">Звукоизоляция</a></li>
                        <li><a href="#">Установка светильников</a></li>
                        <li><a href="#">Слив Воды</a></li>
                        <li><a href="#">Ремонт потолков</a></li>
                        <li><a href="#">Дизайн потолков</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Способы оплаты</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>




//= include/footer.html