//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Светильники</li>
        </ul>
    </div>
</div>

<div class="middle">
    <div class="container">
        <div class="f-row">
            <div class="content">
                <h1 class="header1">Светильники</h1>
                <div class="white-bg">
                    <p>Компания «ДИАНИКС» предлагает широкий ассортимент потолочных светодиодных светильников высокого качества по выгодной стоимости. Мы сотрудничаем с известными производителями светодиодной продукции России и мира, что позволяет подобрать оптимальные варианты под натяжные потолки любых фактур и типов, а также — под другие типы потолочной отделки.</p>
                    <p> Наши специалисты помогут с выбором моделей, которые будут соответствовать стилистике вашего помещения. Также мы оказываем услуги по профессиональному монтажу светильников. При заказе у нас натяжных потолков, берем на себя также вопросы, которые касаются проектирования системы потолочного освещения и ее реализации.</p>
                    <p>Представленные в нашем каталоге светильники — это продукция, которая отвечает всем современным требованиям: </p>
                    <ul>
                        <li>экономичность в энергопотреблении;</li>
                        <li>малое выделение тепла;</li>
                        <li>экологическая безопасность;</li>
                        <li>компактные размеры;</li>
                        <li>отсутствие мерцания при включении;</li>
                        <li>широкий выбор моделей разной формы, цвета, типа и мощности;</li>
                        <li>стильный внешний вид;</li>
                        <li>надежность и долговечность эксплуатации. </li>
                    </ul>
                    <p>На все представленные в каталоге светильники дается гарантия от производителя.</p>
                </div>


            </div>
            <div class="sidebar">
                <ul class="left-menu">
                    <li><a href="#">Монтаж потолков</a></li>
                    <li><a href="#">Производство</a></li>
                    <li><a href="#">Звукоизоляция</a></li>
                    <li><a href="#">Установка светильников</a></li>
                    <li><a href="#">Слив Воды</a></li>
                    <li><a href="#">Ремонт потолков</a></li>
                    <li><a href="#">Дизайн потолков</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Способы оплаты</a></li>
                </ul>
            </div>
        </div>
        <div class="catalog-tile">
            <h2 class="header1">Каталог</h2>
            <div class="catalog-tile__list row">
                <div class="catalog-tile__item column">
                    <a href="#" class="catalog-tile__card">
                        <div class="catalog-tile__image">
                            <img src="/upload/iblock/2df/2dfc52c41cebc4f381160ba227336278.png" title="Светильники - Альфа свет">
                        </div>
                        <h4 class="catalog-tile__name">Светильники - Альфа свет <span>(13)</span></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




//= include/footer.html